---
layout: default
title: About us
description: About us
keywords: Code Sync
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: "ABOUT US"
head_subtitle: "MEET THE TEAM"
bg_image:
---

{% include header.html %}
<main>
    <section class="banner vp--100 t-mh--80vh background-image black-gradient--top black-gradient--bottom mh--100vh lazy" data-bg="url('/assets/img/aboutus-bg.571dacf3.jpg')">
        <div class="container--small">
            <div class="mt--120">
                <div class="text-center">
                    <h1 class="heading color--main heading--xxlarge">
                        ABOUT US
                    </h1>
                    <h3 class="mt--60 heading heading--medium">MEET THE TEAM</h3>
                </div>
            </div>
        </div>
        <div class="arrow--box text-center">
            <a href="#WhoWeAre">
                <div class="arrow arrow--down arrow--down--white"></div>
            </a>
        </div>
    </section>
    <section class="anchor__submenu whoweare section-container section--spaced" id="WhoWeAre">
        <div class="container--small">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">WHO ARE WE?</h1>
                <div class="row mt--70 t-mt-50 t-mb-50 m-mb-20">
                    <div class="col-5 m-col-12 whoweare__numbers">
                        <ul>
                            <li>70+
                                <p>CONFERENCES HELD</p>
                            </li>
                            <li>~10
                                <p>YEARS OF ACTIVITY</p>
                            </li>
                            <li>5
                                <p>CORE CONFERENCES</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-7 m-col-12 whoweare__text">
                        <h2>CODE SYNC CONFERENCES</h2>

                        <p>Our roster of global Erlang, Elixir and Alternative Tech conferences have been through a lot
                                                                                                                                                                        recently. On the eve of the tenth anniversary of our first event, we&rsquo;re ready and
                                                                                                                                                                        excited for the next phase of our conferences.</p>

                        <p>We&#39;re excited to announce that from 2018, all of our conferences (Erlang Factory,
                                                                                                                                                                        Elixir.LDN, Code Mesh, Erlang User Conference, and Erlang and Elixir Factory Lite) will join
                                                                                                                                                                        Code Sync - a family of tech conferences, under new names:</p>

                        <h3>INTRODUCING:</h3>

                        <ul>
                            <li>Code BEAM - Discovering the Future of the Erlang Ecosystem</li>
                            <li>Code BEAM Lites - Satellite conferences of Code BEAM</li>
                            <li>Code Elixir - Connecting the Elixir Community</li>
                            <li>Code Mesh - Exploring Alternative Tech</li>
                        </ul>

                        <p>&nbsp;</p>

                        <p>The creation of the Code Sync family of tech conferences is part of the commitment we have
                                                                                                                                                                        made to open our conferences to a wider audience and to spread the culture of &lsquo;Learn.
                                                                                                                                                                        Share. Inspire.&rsquo; globally.</p>

                        <p>Each conference will retain its personality and stay true to our mission of creating the
                                                                                                                                                                        space for developers to come together as one global community to share their ideas &amp;
                                                                                                                                                                        experiences, learn from one another and inspire to invent the future.</p>

                        <p>The very first Code Sync conference is Code BEAM SF taking place in San Francisco on 15-16
                                                                                                                                                                        March; followed by Code BEAM Lite on 6 April in Milan and Code BEAM STO on 31 May and 1 June
                                                                                                                                                                        in Stockholm.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu history section-container section--spaced" id="History">
        <div class="container--small">
            <div class="grid-gap-100">
                <div class="row">
                    <div class="history__box">
                        <h2 class="heading">1994</h2>
                        <h3 class="heading heading--medium">FIRST EVER ERLANG USER CONFERENCE ORGANISED BY ERICSSON</h3>
                    </div>
                    <div class="history__box">
                        <h2 class="heading">2008/9</h2>
                        <h3 class="heading heading--medium">ERLANG SOLUTIONS TAKES OVER FROM ERICSSON TO ORGANISE ERLANG
                                                                                                                                                                        USER CONFERENCES
                                                                                                                                            
                                                                                                                                                                        FIRST ERLANG FACTORY IN PALO ALTO</h3>
                    </div>
                    <div class="history__box">
                        <h2 class="heading">2018</h2>
                        <h3 class="heading heading--medium">CODE SYNC CONFERENCES LAUNCH</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu conduct section-container section--spaced" id="Conduct">
        <div class="container--small">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">CODE OF CONDUCT</h1>
                <div class="row conduct__tldr mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-20 style-1">
                    <div class="col-4 m-col-12">
                        <h2>BE NICE</h2>
                    </div>
                    <div class="col-8 m-col-12">
                        <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with
                                                                                                                                                                        the following code of conduct. Organisers will enforce this code throughout the event. We
                                                                                                                                                                        are expecting cooperation from all participants to help ensuring a safe environment for
                                                                                                                                                                        everybody.</p>
                    </div>
                </div>
                <div class="row conduct__tldr mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-20 style-3">
                    <div class="col-4 m-col-12">
                        <h2>QUICK&nbsp;<br/>
                            VERSION</h2>
                    </div>
                    <div class="col-8 m-col-12">
                        <p>Our conference is dedicated to providing a harassment-free conference experience for
                                                                                                                                                                        everyone, regardless of gender, sexual orientation, disability, physical appearance, body
                                                                                                                                                                        size, race, or religion. We do not tolerate harassment of conference participants in any
                                                                                                                                                                        form. Sexual language and imagery is not appropriate for any conference venue, including
                                                                                                                                                                        talks, workshops, parties, Twitter and other online media. Conference participants violating
                                                                                                                                                                        these rules may be sanctioned or expelled from the conference without a refund at the
                                                                                                                                                                        discretion of the conference organisers.</p>
                    </div>
                </div>
                <div class="row conduct__tldr mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-20 style-4">
                    <div class="col-4 m-col-12">
                        <h2>LESS QUICK VERSION</h2>
                    </div>
                    <div class="col-8 m-col-12">
                        <p>Harassment includes offensive verbal comments related to gender, sexual orientation,
                                                                                                                                                                        disability, physical appearance, body size, race, religion, sexual images in public spaces,
                                                                                                                                                                        deliberate intimidation, stalking, following, harassing photography or recording, sustained
                                                                                                                                                                        disruption of talks or other events, inappropriate physical contact, and unwelcome sexual
                                                                                                                                                                        attention.</p>
                    </div>
                </div>
                <div class="row conduct__tldr mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-20 style-5">
                    <div class="col-4 m-col-12">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-8 m-col-12">
                        <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

                        <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not
                                                                                                                                                                        use sexualized images, activities, or other material. Booth staff (including volunteers)
                                                                                                                                                                        should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized
                                                                                                                                                                        environment.</p>

                        <p>If a participant engages in harassing behavior, the conference organizers may take any action
                                                                                                                                                                        they deem appropriate, including warning the offender or expulsion from the conference with
                                                                                                                                                                        no refund.</p>

                        <p>If you are being harassed, notice that someone else is being harassed, or have any other
                                                                                                                                                                        concerns, please contact a member of conference staff immediately. Conference staff can be
                                                                                                                                                                        identified as they&#39;ll be wearing branded t-shirts.</p>

                        <p>Original source and credit: The Ada Initiative Please help by translating or
                                                                                                                                                                        improving:&nbsp;<a href="http://github.com/leftlogic/confcodeofconduct.com" target="_blank">http://github.com/leftlogic/confcodeofconduct.com</a>
                        </p>
                    </div>
                </div>
                <div class="row conduct__tldr mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-20 style-6">
                    <div class="col-4 m-col-12">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-8 m-col-12">
                        <p>This work is licensed under a Creative Commons Attribution 3.0 Unported License</p>

                        <p>Code Sync is powered by&nbsp;<a href="https://www.erlang-solutions.com/" target="_blank">Erlang Solutions</a>&nbsp;- World-leading Erlang, Elixir &amp; BEAM
                                                                                                                                                                        Consultancy. We are part of the same team and organising Code Sync conferences is a very
                                                                                                                                                                        important part of our business. Our common goal is creating comfortable spaces for the
                                                                                                                                                                        functional programming community to get together and exchange battle stories. We must be
                                                                                                                                                                        doing something right as our conferences grow year on year!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include got_questions.html %}
</main>
{% include footer.html %}