---
layout: default
title: Oportunity Scheme
description: Oportunity Scheme
keywords: Code Sync, conferences, training, Code BEAM SF, Code BEAM STO, Code Mesh LDN, Code BEAM Lite, Code Elixir LDN, Erlang, Elixir, alternative tech, BEAM, Joe Armstrong, Francesco Cesarini
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: "DIVERSITY & INCLUSION"
head_desc: "WE ARE PLEASED TO ANNOUNCE THAT CODE SYNC"
head_desc_2: "HAS IMPLEMENTED A DIVERSITY & INCLUSION SCHEME!"
---
{% include header.html %}
<main>
    {% include head_title_2.html %}
    <section class="anchor__submenu section-container scholarship section--spaced" id="Process">
        <div class="container--small">
            <div class="grid-gap-100">
                <div class="row mt--30 row__desc">
                    <div class="col-12 scholarship__goal">
                        <div class="paragraph paragraph--robotomono scholarship__goal">
                            <p>
                                The BEAM community is one of the most friendly and helpful tech communities out there but, much as the rest of the tech world, it&#39;s nowhere near as diverse as its members would wish it to be. Code Sync is addressing this problem and commits to building a technology scene where everybody, regardless of their gender, race, sexual orientation, religion, nationality, age, socioeconomic background etc. feels welcome and comfortable.
                            </p>
                            <p>
                                The goal of scheme is to increase diversity of attendees and offer support to those in the tech community who would not otherwise be able to attend the conference.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row__process">
                    <div class="col-12 scholarship__process m-mb-30">
                        <div class="col-5 scholarship__arrow  m-col-12">
                            <h2 class="heading heading--big pink medium">APPLICATION</h2>
                        </div>
                        <div class="col-7 m-col-12">
                            <div class="paragraph paragraph--robotomono medium content">
                                <p>If you wish to apply for Diversity Ticket, please fill in the form below. All application information will be kept confidential.</p>
                                <p>The Diversity Scheme is primarily aimed at (but not restricted to) women, people from ethnic minorities and people with disabilities who would otherwise not be able to attend the conference.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 scholarship__process m-mb-30">
                        <div class="col-5 scholarship__arrow m-col-12">
                            <h2 class="heading heading--big pink medium">SELECTION</h2>
                        </div>
                        <div class="col-7 m-col-12">
                            <div class="paragraph paragraph--robotomono medium content">
                                <p>A committee will review applications on individual basis. All committee members will sign a confidentiality agreement to protect the anonymity of applicants. We will do our best to meet as many applications as possible.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 scholarship__process">
                        <div class="col-5 m-col-12">
                            <h2 class="heading heading--big pink medium">AWARDS</h2>
                        </div>
                        <div class="col-7 m-col-12">
                            <div class="paragraph paragraph--robotomono medium content">
                                <p>Awarded applicants will receive a registration ticket for a relevant conference of their choice.&nbsp;The scheme does not cover the accomodation and travel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include apply.html %}
    <section class="anchor__submenu whoweare section-container section--spaced" id="">
        <div class="container--small">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">Support diversity!</h1>
                <div class="row mt--70 t-mt-50 t-mb-50 m-mb-20">
                    <div class="col-5 m-col-12 whoweare__numbers">
                        <p>By supporting our Diversity Scheme you directly support someone else and allow them to attend
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            one of our conferences where they will learn new things and share the knowledge. Sharing is
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            caring!</p>

                        <p>In addition to our event sponsorship packages, we are introducing
                            <strong>Diversity
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Champions</strong>
                            giving&nbsp;companies&nbsp;the opportunity sponsor a minimum of four
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            places at each event. For more information please
                            <a href="mailto:info@codesync.global" target="_blank">email info@codesync.global</a>.</p>

                        <p>&nbsp;</p>
                    </div>
                    <div class="col-7 m-col-12 whoweare__text">
                        <p>Whatever you can spare, please donate directly through the registration page (click on
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            &quot;buy tickets&quot;):</p>

                        <p>
                            <a href="https://codesync.global/conferences/code-beam-v/#tickets" target="_blank">Code BEAM
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                V&nbsp;2020 - click here to go to registration page</a>
                        </p>

                        <p>
                            <a href="https://codesync.global/conferences/code-beam-sto/#tickets" target="_blank">Code
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                BEAM STO 2020 - click here to go to registration page</a>
                        </p>

                        <p>
                            <a href="https://codesync.global/conferences/code-beam-lite-italy-2020/#tickets">Code BEAM
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Lite Italy 2020 - cilck here to go to the registration page</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include diversity_sponsors.html %}
    {% include got_questions.html %}
</main>
{% include footer.html %}