---
layout: default
title: All videos
description: All videos
keywords: Code Sync, conferences, training, Code BEAM SF, Code BEAM STO, Code Mesh LDN, Code BEAM Lite, Code Elixir LDN, Erlang, Elixir, alternative tech, BEAM, Joe Armstrong, Francesco Cesarini
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: "SPONSORSHIP"
head_subtitle: "LEARN ABOUT ALL SPONSORSHIP OPPORTUNITIES"
bg_image:
---

{% include header.html %}
<main class="sponsorship">
    {% include head_title_3.html %}
    <section class="anchor__submenu welcome section-container section--spaced" id="Welcome">
        <div class="container--small">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">WELCOME TO CODE SYNC  CONFERENCES</h1>
                <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00 welcome__content">
                    <div class="col-4 t-col-12 t-mt-80 m-mt-40">
                        <h2>WHY SPONSOR?</h2>
                        <p>
                            <strong>Engage and raise brand awareness with some of the brightest programmers and leading tech companies in the world.</strong>
                        </p>
                        <ul>
                            <li>The perfect place to showcase technology and hire new talent.</li>
                            <li>Align your brand and company with cutting-edge technology.</li>
                            <li>Motivate your developers by investing in training</li>
                            <li>Become part of a community.</li>
                        </ul>
                    </div>
                    <div class="col-4 t-col-6 m-col-12 t-mt-80 m-mt-40">
                        <h2>OUR COMMITMENT</h2>

                        <p>Our events have helped super brands such as WhatsApp, Klarna, Machine Zone, AdRoll, Ericsson, Bet365, Grindr and Visa to hire and train new teams.</p>
                    </div>
                    <div class="col-4 t-col-6 m-col-12 t-mt-80 m-mb-00 m-mt-40">
                        <h2>LOCATIONS</h2>

                        <ul>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeBEAMSF">Code BEAM SF</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeBEAMSTO">Code BEAM STO</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeBEAMLite">Code BEAM Lite</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeMesh">Code Mesh</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeElixir">Code Elixir</a>
                            </li>
                            <li>&nbsp;<a href="http://www.lambdadays.org/lambdadays2018" target="_blank">Lambda Days</a>
                            </li>
                        </ul>

                        <div>
                            <ul>
                                <li>San Francisco</li>
                                <li>Stockholm</li>
                                <li>Various cities</li>
                                <li>London</li>
                                <li>London</li>
                                <li>Krakow</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu sponsorship__audience section-container black-gradient--top black-gradient--bottom vp--100 m-vp-40 m-pb-20 lazy" data-bg="url('/assets/img/sponsorship_map.3010fbc1.png')" id="Attendees">
        <div class="container--small clearfix">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">CONFERENCE ATTENDEES</h1>
                <div class="row mt--70 t-mt-00 t-mb-50 m-vm-00">
                    <div class="col-4 t-col-12 t-mt-40 m-mt-20 m-vm-20">
                        <h2 class="heading heading--large heading--pink  medium">81%</h2>
                        <h3 class="heading heading--medium medium">ARE SOFTWARE DEVELOPERS AND ARCHITECTS</h3>
                    </div>
                    <div class="col-4 t-col-12 t-mt-40 m-mb-50 m-vm-20">
                        <div class="middle">
                            <h2 class="heading heading--large medium">10%</h2>
                            <h3 class="heading heading--medium medium">ACADEMICS AND STUDENTS</h3>
                        </div>
                    </div>
                    <div class="col-4 t-col-12 t-mt-40 m-mb-50 m-vm-20">
                        <h2 class="heading heading--large medium">9%</h2>
                        <h3 class="heading heading--medium medium">C-LEVEL EXECUTIVES.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu two-col section-container section--spaced" id="TwoColumns">
        <div class="container--small">
            <div class="grid-gap-100">
                <h2 class="heading heading--large">SPONSORSHIP OPTIONS</h2>
                <div class="row mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-00 welcome__content">
                    <div class="col-6 m-col-12">
                        <h3>SPONSORS RECEIVE BRAND ENGAGEMENT</h3>

                        <ul>
                            <li>As part of a social media promotion</li>
                            <li>Included within a targeted email campaign</li>
                            <li>Inclusion in call for talks and call for speakers</li>
                            <li>Via highly visible venue branding</li>
                        </ul>
                    </div>
                    <div class="col-6 m-col-12 right">
                        <p>&nbsp;</p>

                        <ul>
                            <li>Within posted videos of the talks</li>
                            <li>Via exhibition space</li>
                            <li>Within promotional merchandise</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-00 welcome__content">
                    <div class="col-6 m-col-12">
                        <h3>LEVEL OF SPONSORSHIP</h3>

                        <p>We have three levels of sponsorship available which deliver various levels of engagement and brand awareness. These are:</p>

                        <ul>
                            <li>PLATINUM</li>
                            <li>GOLD</li>
                            <li>SILVER</li>
                        </ul>

                        <p>
                            <u>Global sponsorship is available for several events.</u>
                        </p>
                    </div>
                    <div class="col-6 m-col-12 right">
                        <p>Additional opportunities are available to further enhance the sponsorship experience and we are also very open to any promotional ideas you may have and will try where possible to make these ideas happen.</p>

                        <p>Please contact our conference team for a sponsorship brochure or more info&nbsp;<a href="mailto:sponsorship@codesync.global">sponsorship@codesync.global</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu sponsors-partners section-container section--spaced" id="sponsors">
        <div class="container--small">
            <div class="grid-gap-100">
                <h2 class="heading heading--large">OUR SPONSORS</h2>
                <div class="row mt--50 d-mt-20">
                    <div>
                        <p class="heading heading--small mb--30">Global sponsor</p>
                    </div>
                    <div class="logos">
                        <a class="grid--2" href="https://www.whatsapp.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="WhatsApp">
                            <picture>
                                <img alt="WhatsApp Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/bdfe0ea051edc8192d38b6b5ef4f1028dab1b875.png" style="max-width: 500px; ">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="row mt--50 d-mt-20">
                    <div>
                        <p class="heading heading--small mb--30">Platinum Sponsors</p>
                    </div>
                    <div class="logos">
                        <a class="grid--2" href="https://appsignal.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="AppSignal">
                            <picture>
                                <img alt="AppSignal Logo" class="lazy" data-src="/uploads/media/sponsors/0001/02/d885e47422054741dfbeb3435017abaeb94f0d79.png" style="max-width: 450px; ">
                            </picture>
                        </a>
                        <a class="grid--2" href="https://brex.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Brex">
                            <picture>
                                <img alt="Brex Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/4c38dd13eabd1a19c8c32417d1c490e50e5e0284.png" style="max-width: 450px; ">
                            </picture>
                        </a>
                        <a class="grid--2" href="https://bitcrowd.net/en" rel="noindex nofollow noopener noreferrer" target="_blank" title="Bitcrowd">
                            <picture>
                                <img alt="Bitcrowd Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/c5f2c09958edfbb0856adf55b43a6482acad4801.png" style="max-width: 250px; ">
                            </picture>
                        </a>
                        <a class="grid--2" href="https://www.prima.it" rel="noindex nofollow noopener noreferrer" target="_blank" title="Prima">
                            <picture>
                                <img alt="Prima Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/7cdb4156f88b6221b3c6875ba278b380af269614.png" style="max-width: 450px; ">
                            </picture>
                        </a>
                        <a class="grid--2" href="https://www.klarna.com/uk/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Klarna">
                            <picture>
                                <img alt="Klarna Logo" class="lazy" data-src="/uploads/media/sponsors/0001/02/881b4cb0649aa69439e97904956f43b1ca6d2f78.png" style="max-width: 450px; ">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="row mt--50 d-mt-20">
                    <div>
                        <p class="heading heading--small mb--30">Diversity &amp; Inclusion Sponsors</p>
                    </div>
                    <div class="logos">
                        <a class="grid--3" href="https://www.pepsico.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="PepsiCo">
                            <picture>
                                <img alt="PepsiCo Logo" class="lazy" data-src="/uploads/media/sponsors/0001/02/bf7654ff7070866ed0d3171fa0c488630c21f515.png" style="max-width: 400px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://www.klarna.com/uk/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Klarna">
                            <picture>
                                <img alt="Klarna Logo" class="lazy" data-src="/uploads/media/sponsors/0001/02/881b4cb0649aa69439e97904956f43b1ca6d2f78.png" style="max-width: 400px; max-height: 600px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://azure.microsoft.com/en-us/free/students/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Micosoft">
                            <picture>
                                <img alt="Micosoft Logo" class="lazy" data-src="/uploads/media/sponsors/0001/02/39fd19e5050d955b69f3c39c99f17dd9be22563d.png" style="max-width: 400px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://www.therealreal.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="The RealReal">
                            <picture>
                                <img alt="The RealReal Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/501124a5c33e1eaf2cdbab4a182db92973f8c900.png" style="max-width: 400px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://scoutapp.com/elixir-monitoring" rel="noindex nofollow noopener noreferrer" target="_blank" title="ScoutApp">
                            <picture>
                                <img alt="ScoutApp Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/1a7973d2f329c2cf1593111e9ec68337539a1ece.png" style="max-width: 400px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://www.solarisbank.com/en/" rel="noindex nofollow noopener noreferrer" target="_blank" title="SolarisBank">
                            <picture>
                                <img alt="SolarisBank Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/9a530f830172b74a5444eb62b61261fb8371d34f.png" style="max-width: 400px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://www.voismart.it" rel="noindex nofollow noopener noreferrer" target="_blank" title="Voismart">
                            <picture>
                                <img alt="Voismart Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/fbd7f5a988db9c9da712252d1cbe8d9fc6118886.png" style="max-width: 400px; ">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="row mt--50 d-mt-20">
                    <div>
                        <p class="heading heading--small mb--30">Gold Sponsors</p>
                    </div>
                    <div class="logos">
                        <a class="grid--3" href="https://www.erlang-solutions.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Erlang Solutions">
                            <picture>
                                <img alt="Erlang Solutions Logo" class="lazy" data-src="/uploads/media/sponsors/0001/02/b8686f89c93fef203e1b0173dcab11646b29d597.png" style="max-width: 300px; max-height: 600px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://www.dektech.com.au/" rel="noindex nofollow noopener noreferrer" target="_blank" title="DEK Technologies">
                            <picture>
                                <img alt="DEK Technologies Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/2f9b07d41d65a4a98c77a2cfd00283f95b5dcdd3.png" style="max-width: 250px; max-height: 600px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="http://www.cultivatehq.com" rel="noindex nofollow noopener noreferrer" target="_blank" title="Cultivate">
                            <picture>
                                <img alt="Cultivate Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/24ebd293f8bc19d318f80cd19f027ea1c6b0afe0.png" style="max-width: 300px; max-height: 600px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://toyotaconnected.eu/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Toyota Connected">
                            <picture>
                                <img alt="Toyota Connected Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/daf01a52301980e7ab30efc8df43280f0133c762.png" style="max-width: 250px; max-height: 600px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="http://www.coders51.com" rel="noindex nofollow noopener noreferrer" target="_blank" title="Coders51">
                            <picture>
                                <img alt="Coders51 Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/9dd9c3806190d25d414dfc524b573834840240e4.png" style="max-width: 300px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://www.pagerduty.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="PagerDuty">
                            <picture>
                                <img alt="PagerDuty Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/81f2c32dbe51aa2c9fb19680d2a83c10072cfa3e.png" style="max-width: 300px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://2600hz.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="2600hz">
                            <picture>
                                <img alt="2600hz Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/244bac939b85cfd43126eaea15c0b8da3b74ad67.png" style="max-width: 300px; ">
                            </picture>
                        </a>
                        <a class="grid--3" href="https://derivco.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Derivco">
                            <picture>
                                <img alt="Derivco Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/6b20124f855d423eac964f1a10e6a10755db59de.png" style="max-width: 300px; ">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="row mt--50 d-mt-20">
                    <div>
                        <p class="heading heading--small mb--30">Silver Sponsor</p>
                    </div>
                    <div class="logos">
                        <a class="grid--4" href="https://simplabs.com" rel="noindex nofollow noopener noreferrer" target="_blank" title="Simplabs">
                            <picture>
                                <img alt="Simplabs Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/14912b2150a77d652f3eaf54e5135964e539f976.png" style="max-width: 250px; max-height: 600px; ">
                            </picture>
                        </a>
                        <a class="grid--4" href="http://codiceplastico.com/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Codice Plastico">
                            <picture>
                                <img alt="Codice Plastico Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/fe40932a53106539ec11425d3979ff7cdc8f9bde.png" style="max-width: 250px; ">
                            </picture>
                        </a>
                        <a class="grid--4" href="http://www.athonet.com/athonet/" rel="noindex nofollow noopener noreferrer" target="_blank" title="Athonet">
                            <picture>
                                <img alt="Athonet Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/1f2611d3d2b8ab2a23236333596b70da6dcac909.png" style="max-width: 250px; ">
                            </picture>
                        </a>
                        <a class="grid--4" href="http://re-store.it/index.asp" rel="noindex nofollow noopener noreferrer" target="_blank" title="Restore">
                            <picture>
                                <img alt="Restore Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/7ba4f62a412fe2c1f41a86569b963cb940234a83.png" style="max-width: 150px; ">
                            </picture>
                        </a>
                        <a class="grid--4" href="https://aeternity.com" rel="noindex nofollow noopener noreferrer" target="_blank" title="Aeternity">
                            <picture>
                                <img alt="Aeternity Logo" class="lazy" data-src="/uploads/media/sponsors/0001/01/9fca2026c432a41703c2df8f827dd07fd40c799c.png" style="max-width: 200px; ">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="row mt--80 m-mt-20">
                    <a class="btn btn--pink triangle-left-full" href="mailto:john.baughen@codesync.global">BECOME A SPONSOR</a>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu contact background-image vp--100 m-vp-30 section-container lazy" data-bg="url('/assets/img/bg-contact.70e06bd4.jpg')" id="Contact">
        <div class="container--small">
            <div class="grid-gap-100">
                <h2 class="heading heading--large mt--50 t-mt-20">GOT QUESTIONS?</h2>
                <div class="row mt--60 d-mt-20 m-mt-10 contact__info">
                    <div class="col-4 t-col-12 m-col-12 paragraph--robotomono mt--20">
                        <p>Get in touch if you have any questions, and we will be happy to help you!</p>

                        <p>You can also email us on&nbsp;<a href="mailto:info@codesync.global">info@codesync.global</a>
                        </p>

                        <p>The sponsorship terms and conditions can be found
                            <a href="https://codesync.global/page/7/">here</a>.</p>
                        <p class="paragraph paragraph--robotomono paragraph--medium color--main mt--20 m-mb-20 bold">All
                                                                                                                                                                                                                                                                                        fields are required.</p>
                    </div>
                    <div class="col-8 t-col-12 m-col-12">
                        <form action="/questions_action/" method="post" name="contact">
                            <div class="color--main heading heading--small"></div>
                            <div class="row">

                                <div class="col-6 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_firstname">First name</label>
                                    <input class="form-element" id="contact_firstname" name="contact[firstname]" placeholder="FIRST NAME" required="required" type="text"/>
                                </div>
                                <div class="col-6 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_lastname">Last name</label>
                                    <input class="form-element" id="contact_lastname" name="contact[lastname]" placeholder="LAST NAME" required="required" type="text"/>
                                </div>
                                <div class="col-6 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_email">Email</label>
                                    <input class="form-element" id="contact_email" name="contact[email]" placeholder="E-mail" required="required" type="email"/>
                                </div>
                                <div class="col-6 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_company">Company</label>
                                    <input class="form-element" id="contact_company" name="contact[company]" placeholder="Company" required="required" type="text"/>
                                </div>
                                <div class="col-6 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_jobTitle">Job title</label>
                                    <input class="form-element" id="contact_jobTitle" name="contact[jobTitle]" placeholder="Job Title" required="required" type="text"/>
                                </div>
                                <div class="col-6 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_country">Select a Country</label>
                                    <select class="form-element" id="contact_country" name="contact[country]" required="required">
                                        <option selected="selected" value="">Select a Country</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States">United States</option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bosnia-Herzegovina">Bosnia-Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Bouvet Island">Bouvet Island</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo, Democratic Republic of the (Zaire)">Congo, Democratic Republic of the (Zaire)</option>
                                        <option value="Congo, Republic of">Congo, Republic of</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe (French)">Guadeloupe (French)</option>
                                        <option value="Guam (USA)">Guam (USA)</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guinea Bissau">Guinea Bissau</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Holy See">Holy See</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland/Eire">Ireland/Eire</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Ivory Coast (Cote D`Ivoire)">Ivory Coast (Cote D`Ivoire)</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique (French)">Martinique (French)</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Micronesia">Micronesia</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montenegro">Montenegro</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Namibia">Namibia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherlands">Netherlands</option>
                                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                                        <option value="New Caledonia (French)">New Caledonia (French)</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="North Korea">North Korea</option>
                                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau">Palau</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Philippines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Polynesia (French)">Polynesia (French)</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="Saint Helena">Saint Helena</option>
                                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                        <option value="Saint Lucia">Saint Lucia</option>
                                        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                        <option value="Saint Vincent and Grenadines">Saint Vincent and Grenadines</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="South Georgia and South Sandwich Islands">South Georgia and South Sandwich Islands</option>
                                        <option value="South Korea">South Korea</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Timor-Leste (East Timor)">Timor-Leste (East Timor)</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                        <option value="Uruguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands">Virgin Islands</option>
                                        <option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                                <div class="col-6 t-col-12 m-col-12">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_natureOfEnquiry">Nature of enquiry</label>
                                    <select class="form-element" id="contact_natureOfEnquiry" name="contact[natureOfEnquiry]" required="required">
                                        <option selected="selected" value="">Nature of Enquiry</option>
                                        <option value="General">General</option>
                                        <option value="Tickets">Tickets</option>
                                        <option value="Training">Training</option>
                                        <option value="DIVERSITY">DIVERSITY</option>
                                        <option value="Sponsorship">Sponsorship</option>
                                        <option value="Volunteering">Volunteering</option>
                                        <option value="CBL Partnership">CBL Partnership</option>
                                    </select>
                                </div>
                                <div class="col-12 m-col-12 mt--20 m-w--100">
                                    <div class="color--main heading error"></div>
                                    <label class="field-placeholder required" for="contact_message">Message</label>
                                    <textarea class="form-element" id="contact_message" name="contact[message]" required="required"></textarea>
                                </div>
                                <div class="col-12 m-col-12 mt--50 d-mt-50 t-mt-60">
                                    <div class="input--checkbox">
                                        <div class="color--main heading error"></div>
                                        <input id="contact_optIn" name="contact[optIn]" type="checkbox" value="1"/>
                                        <label class="form-terms" for="contact_optIn">Yes, I would like to receive email communications from Code Sync</label>
                                    </div>
                                </div>
                                <div class="col-12 m-col-12 mt--50 d-mt-50 m-w--100">
                                    <div class="paragraph paragraph--tiny mb--50">
                                        Code Sync and Erlang Solutions care about your data and privacy. By submitting this form you agree that your data will be processed according to our
                                        <a class="link" href="https://codesync.global/privacy_policy/">Privacy Policy</a>. Update your email preferences
                                        <a class="link" href="https://www2.erlang-solutions.com/email-preference?epc_hash=JtO6C7Q2rJwCdZxBx3Ad8jI2D4TJum7XcUWcgfjZ8YY" rel="noindex nofollow noopener noreferrer" target="_blank" title="Disclaimer Link">Update your email preferences</a>
                                    </div>
                                    <div class="col-6 t-col-6 m-col-12">
                                        <div class="g-recaptcha" data-sitekey="6LetljsUAAAAAGIfnHbNTsR-clF8njuAD94d9HBc"></div>
                                    </div>
                                    <div class="col-6 t-col-6 m-col-12">
                                        <button class="btn btn--full-width btn--pink color--main" type="submit">SEND MY MESSAGE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu section-container section--spaced" id="upcoming-conferences">
        <div class="container--small conferences-list">
            <h2 class="heading heading--large">Upcoming conferences</h2>
            <p class="paragraph paragraph--medium pt--60 d-pt-40 mb--80 d-mb-50 half-width">Start booking your calendar
                                                                                                                                                                with more Code Sync conferences happening across the globe. We will be slowly releasing more dates, in
                                                                                                                                                                the meantime here is what we’ve planned already:</p>
            <div class="slider-inner">
                <div class="slider-frame">
                    <ul class="columns slider-container">
                        <li class="column">
                            <div class="tile ">
                                <a class="tile--bg" href="http://codesync.global/conferences/code-beam-v/">
                                    <picture class="tile__bg-image"><img alt="Code BEAM V Background" class="tile__logo lazy" data-src="/uploads/media/theme/0001/02/64b0adfb5d5d1e1b7c89d5f3a9d61fa9da867653.jpeg"></picture>
                                    <picture><img alt="Code BEAM V Logo" class="tile__logo lazy" data-src="/uploads/media/theme/0001/02/da389ee79262814b760127d99bbc2c83d7ed2ac9.png"></picture>
                                    <p class="heading heading--medium">28-29 May 2020</p>
                                    <p class="heading heading--small">virtual event</p>
                                </a>
                                <a class="btn btn--white btn-arrow" href="http://codesync.global/conferences/code-beam-v/">More Info</a>
                            </div>
                        </li>
                        <li class="column">
                            <div class="tile ">
                                <a class="tile--bg" href="http://codesync.global/conferences/code-beam-sto/">
                                    <picture class="tile__bg-image"><img alt="Code BEAM STO Background" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/43ac1d189292a3e2bf822a88011531a495ef1dec.jpeg"></picture>
                                    <picture><img alt="Code BEAM STO Logo" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/c63a23d43f73b3a938ba1682ed01c646f46fa815.png"></picture>
                                    <p class="heading heading--medium">10-11 Sep 2020</p>
                                    <p class="heading heading--small">Stockholm</p>
                                </a>
                                <a class="btn btn--white btn-arrow" href="http://codesync.global/conferences/code-beam-sto/">More Info</a>
                            </div>
                        </li>
                        <li class="column">
                            <div class="tile ">
                                <a class="tile--bg" href="http://codesync.global/conferences/code-beam-lite-italy-2020/">
                                    <picture class="tile__bg-image"><img alt="Code BEAM Lite ITA Background" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/d63164f0585385d9c2c1b4c6c3d8e73873fe8a6b.jpeg"></picture>
                                    <picture><img alt="Code BEAM Lite ITA Logo" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/1eb6cc46a693144acc758426e3bbac87d09ad26b.png"></picture>
                                    <p class="heading heading--medium">30 Oct 2020</p>
                                    <p class="heading heading--small">Bologna</p>
                                </a>
                                <a class="btn btn--white btn-arrow" href="http://codesync.global/conferences/code-beam-lite-italy-2020/">More Info</a>
                            </div>
                        </li>
                        <li class="column">
                            <div class="tile ">
                                <a class="tile--bg" href="http://codesync.global/conferences/code-mesh-ldn/">
                                    <picture class="tile__bg-image"><img alt="Code Mesh LDN Background" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/7661d6efa5d02d9cc8b38ebc24fe7094fa27141b.jpeg"></picture>
                                    <picture><img alt="Code Mesh LDN Logo" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/d532fd58d3e35d90be0b398b2f7e13c894c43fcb.png"></picture>
                                    <p class="heading heading--medium">05-06 Nov 2020</p>
                                    <p class="heading heading--small">London</p>
                                </a>
                                <a class="btn btn--white btn-arrow" href="http://codesync.global/conferences/code-mesh-ldn/">More Info</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="btn btn--pink triangle-left-full color--main mt--80 m-mt-40" href="http://codesync.global/conferences/">All
                                                                                                                                                                conferences</a>
        </div>
    </section>


</main>