---
layout: default
title: All videos
description: All videos
keywords: Code Sync, conferences
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: "SPONSORSHIP"
head_subtitle: "LEARN ABOUT ALL SPONSORSHIP OPPORTUNITIES"
bg_image:
---

{% include header.html %}
<main class="sponsorship">
    {% include head_title_3.html %}
    <section class="anchor__submenu welcome section-container section--spaced" id="Welcome">
        <div class="container--small">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">WELCOME TO CODE SYNC  CONFERENCES</h1>
                <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00 welcome__content">
                    <div class="col-4 t-col-12 t-mt-80 m-mt-40">
                        <h2>WHY SPONSOR?</h2>
                        <p>
                            <strong>Engage and raise brand awareness with some of the brightest programmers and leading tech companies in the world.</strong>
                        </p>
                        <ul>
                            <li>The perfect place to showcase technology and hire new talent.</li>
                            <li>Align your brand and company with cutting-edge technology.</li>
                            <li>Motivate your developers by investing in training</li>
                            <li>Become part of a community.</li>
                        </ul>
                    </div>
                    <div class="col-4 t-col-6 m-col-12 t-mt-80 m-mt-40">
                        <h2>OUR COMMITMENT</h2>

                        <p>Our events have helped super brands such as WhatsApp, Klarna, Machine Zone, AdRoll, Ericsson, Bet365, Grindr and Visa to hire and train new teams.</p>
                    </div>
                    <div class="col-4 t-col-6 m-col-12 t-mt-80 m-mb-00 m-mt-40">
                        <h2>LOCATIONS</h2>

                        <ul>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeBEAMSF">Code BEAM SF</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeBEAMSTO">Code BEAM STO</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeBEAMLite">Code BEAM Lite</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeMesh">Code Mesh</a>
                            </li>
                            <li>&nbsp;<a href="https://codesync.global/conferences/#CodeElixir">Code Elixir</a>
                            </li>
                            <li>&nbsp;<a href="http://www.lambdadays.org/lambdadays2018" target="_blank">Lambda Days</a>
                            </li>
                        </ul>

                        <div>
                            <ul>
                                <li>San Francisco</li>
                                <li>Stockholm</li>
                                <li>Various cities</li>
                                <li>London</li>
                                <li>London</li>
                                <li>Krakow</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu sponsorship__audience section-container black-gradient--top black-gradient--bottom vp--100 m-vp-40 m-pb-20 lazy" data-bg="url('/assets/img/sponsorship_map.3010fbc1.png')" id="Attendees">
        <div class="container--small clearfix">
            <div class="grid-gap-100">
                <h1 class="heading heading--large">CONFERENCE ATTENDEES</h1>
                <div class="row mt--70 t-mt-00 t-mb-50 m-vm-00">
                    <div class="col-4 t-col-12 t-mt-40 m-mt-20 m-vm-20">
                        <h2 class="heading heading--large heading--pink  medium">81%</h2>
                        <h3 class="heading heading--medium medium">ARE SOFTWARE DEVELOPERS AND ARCHITECTS</h3>
                    </div>
                    <div class="col-4 t-col-12 t-mt-40 m-mb-50 m-vm-20">
                        <div class="middle">
                            <h2 class="heading heading--large medium">10%</h2>
                            <h3 class="heading heading--medium medium">ACADEMICS AND STUDENTS</h3>
                        </div>
                    </div>
                    <div class="col-4 t-col-12 t-mt-40 m-mb-50 m-vm-20">
                        <h2 class="heading heading--large medium">9%</h2>
                        <h3 class="heading heading--medium medium">C-LEVEL EXECUTIVES.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anchor__submenu two-col section-container section--spaced" id="TwoColumns">
        <div class="container--small">
            <div class="grid-gap-100">
                <h2 class="heading heading--large">SPONSORSHIP OPTIONS</h2>
                <div class="row mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-00 welcome__content">
                    <div class="col-6 m-col-12">
                        <h3>SPONSORS RECEIVE BRAND ENGAGEMENT</h3>

                        <ul>
                            <li>As part of a social media promotion</li>
                            <li>Included within a targeted email campaign</li>
                            <li>Inclusion in call for talks and call for speakers</li>
                            <li>Via highly visible venue branding</li>
                        </ul>
                    </div>
                    <div class="col-6 m-col-12 right">
                        <p>&nbsp;</p>

                        <ul>
                            <li>Within posted videos of the talks</li>
                            <li>Via exhibition space</li>
                            <li>Within promotional merchandise</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-00 welcome__content">
                    <div class="col-6 m-col-12">
                        <h3>LEVEL OF SPONSORSHIP</h3>

                        <p>We have three levels of sponsorship available which deliver various levels of engagement and brand awareness. These are:</p>

                        <ul>
                            <li>PLATINUM</li>
                            <li>GOLD</li>
                            <li>SILVER</li>
                        </ul>

                        <p>
                            <u>Global sponsorship is available for several events.</u>
                        </p>
                    </div>
                    <div class="col-6 m-col-12 right">
                        <p>Additional opportunities are available to further enhance the sponsorship experience and we are also very open to any promotional ideas you may have and will try where possible to make these ideas happen.</p>

                        <p>Please contact our conference team for a sponsorship brochure or more info&nbsp;<a href="mailto:sponsorship@codesync.global">sponsorship@codesync.global</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include sponsors.html %}
    {% include got_questions.html %}
    {% include upcoming_conferences.html %}
</main>
{% include footer.html %}