<section class="media m-vp-30 m-pb-00 section-container">
    <div class="container--small">
        <div class="grid-gap-100">
            <h2 class="heading heading--big1 mb--50 m-mb-20">ALL ARTICLES</h2>
            <div class="row row__articles" id="featured-articles">
                {% assign sorted = site.posts | sort: "relevance" | where: 'type', 'article' %}
                {% for post in sorted %}

                    {% if post.type == 'article' %}
                        <div class="col-4 t-col-12 t-mt-40 article__box" data-type="article">
                            <h3 class="heading heading--normal">
                                <a class="heading heading--normal heading--roboto article__title" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}
                                </a>
                            </h3>
                            <picture>
                                {% if post.image_url %}
                                    <img alt="{{ post.title }}" class="tile__logo lazy" data-src="{{site.baseurl}}{{ post.image_url}}">
                                    {% else %}

                                {% endif %}
                            </picture>
                            <div class="article__desc">
                                <p class="paragraph">{{ post.excerpt }}</p>
                                <a href="{{site.baseurl}}{{ post.url }}">READ MORE</a>
                            </div>
                            <div class="hashtags">
                                <ul></ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>