<section class="anchor__submenu two-col section-container section--spaced" id="health-advice">
    <div class="container--small">
        <div class="grid-gap-100">
            <h2 class="heading heading--large">HEALTH ADVICE</h2>
            <div class="row mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-00 welcome__content">
                <div class="col-6 m-col-12">
                    <p>The health, safety and wellbeing of all visitors to our events is of the utmost importance. We
                                                are currently monitoring the effect of the outbreak of&nbsp;coronavirus disease (COVID-19) upon
                                                our conferences and would like to let you know that&nbsp;Code BEAM STO is still going ahead. If
                                                that changes we will notify all ticket holders immediately and post a further statement here.
                    </p>
                </div>
                <div class="col-6 m-col-12 right">
                    <p>Depending on the COVID-19 situation we may need to make changes to the format and/or date of the
                                                event. If it becomes necessary to cancel Code BEAM STO entirely, we will issue a full refund to
                                                everyone attending. We will not be able to refund any travel or accommodation costs and
                                                recommend that all visitors take out appropriate travel insurance to cover any cancellations due
                                                to events outside our control</p>

                    <p>
                        <strong>
                            <a href="http://mailto:info@codesync.global?subject=Health%20advice%20for%20Code%20BEAM%20STO">Contact
                                                                us</a>
                        </strong>
                        if you have any further concerns.</p>
                </div>
            </div>
        </div>
    </div>
</section>