<section class="anchor__submenu venue vp--100 d-vp-80 t-vp-70 m-vp-50 section-container black-gradient--bottom black-gradient--top lazy" data-bg="url('/uploads/media/venue/0001/01/06eec0ed97be05e4e450d332160f382f44781605.jpeg')" id="venue">
    <div class="container--small">
        <div class="grid-gap-100">
            <h1 class="heading heading--large text-center">{{ page.conference_custom_2_heading }}</h1>
            <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00">
                <div class="col-12  t-col-12 m-col-12 address">
                    <div class="venue__description text-center">
                        <p>{{ page.conference_custom_2_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>