<section class="banner vp--100 video--container black-gradient--top black-gradient--bottom mh--100vh">
    <picture class="banner--background">
        <source data-srcset="" media="(max-width: 1050px)"/>
        <img alt="Code BEAM V Background" class="lazy" data-src="/uploads/media/theme/0001/02/64b0adfb5d5d1e1b7c89d5f3a9d61fa9da867653.jpeg">
    </picture>
    <div class="container--small">
        <div class="mt--120">
            <div class="text-center">
                <h1 class="heading heading--xxlarge">
                    Training
                </h1>
                <h2 class="heading heading--large mt--50">
                    Code BEAM V
                </h2>
            </div>
        </div>
    </div>
    <div class="arrow--box text-center">
        <a href="#trainings">
            <div class="arrow arrow--down--white"></div>
        </a>
    </div>
</section>