{{ page.conference_custom_1_img_bg }}
{{ page.conference_custom_1_img_link }}

<section class="banner vp--100 t-mh--80vh background-image black-gradient--top black-gradient--bottom mh--100vh lazy" data-bg="url('{{ page.conference_custom_1_img_bg }}')" data-was-processed="true" >
    <div class="container--small">
        <div class="mt--120">
            <div class="text-center">
                <h1 class="heading color--main heading--xxlarge">
                    CONFERENCE CUSTOM 1
                </h1>
            </div>
        </div>
    </div>
</section>