<section
  class="anchor__submenu section-container section--spaced speakers"
  id="speakers"
>
  <div class="container--small">
    <div class="grid-gap-100 o-hidden">
      <h2 class="heading heading--large">Our speakers</h2>

      <div class="grid-3 mt--50 keynote-speakers" style="margin-bottom: -40px;">
        <div class="col mb--40">
          <a href="http://codesync.global/speaker/natalia-chechina/">
            <div class="speaker-img">
              <picture>
                <source
                  type="image/webp"
                  data-srcset="/uploads/media/default/0001/02/6c71561bb17a76e3f742fdb6079e3311b4f69fed.webp"
                />
                <source
                  type="image/jp2"
                  data-srcset="/uploads/media/default/0001/02/d1c129a85f0370303840d6f6fdbf1e11421d13c9."
                />
                <source
                  type="image/jxr"
                  data-srcset="/uploads/media/default/0001/02/05ee40ebdd796f4dbd33eda57be45da0f225fb1c."
                />
                <img
                  class="lazy"
                  data-src="/uploads/media/speakers/0001/02/f7d043a190ea87dfb6d60ce35b08c0fd2ae9f829.png"
                  alt="Natalia Chechina"
                />
              </picture>
            </div>
            <h3 class="heading heading--medium mt--40 dont-break-out">
              Natalia Chechina
            </h3>
          </a>
          <p class="fw--medium pt--10">
            One of the core authors of SD Erlang, lecturer in computing
            (Bournemouth University)
          </p>
          <p class="heading heading--medium">Keynote:</p>
          <p>
            <a
              href="http://codesync.global/speaker/natalia-chechina/#625unite-and-conquer"
              class="mono medium light gray pt--00 mt--10"
              >Unite and conquer</a
            >
          </p>
          <div class="hashtags mt--10">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-5 mt--50" style="margin-bottom: -40px;">
      <div class="col t-col-12 mb--40">
        <a href="http://codesync.global/speaker/robert-virding/">
          <div class="speaker-img">
            <picture>
              <img
                class="lazy"
                data-src="/uploads/media/speakers/0001/02/c05ec3245b72cdeed2253ad68406e15672b154e7.png"
                alt="Robert Virding"
              />
            </picture>
          </div>
          <h3
            class="heading heading--medium mt--40 dont-break-out speaker-name"
          >
            Robert Virding
          </h3>
        </a>
        <p class="fw--medium pt--10">Co-creator of Erlang, Trainer</p>
      </div>
    </div>
  </div>
</section>
