<section
  class="anchor__submenu section-container section--spaced speakers"
  id="speakers"
>
  <div class="container--small">
    <div class="grid-gap-100 o-hidden">
      <h2 class="heading heading--large">Our speakers</h2>

      <div class="grid-3 mt--50 keynote-speakers" style="margin-bottom: -40px;">
        <div class="col mb--40">
          {% for keynote in site.conference_keynotes %} {% if
          keynote.conference_path == page.path %} {% for speaker in
          site.speakers %} {% if keynote.speaker_path == speaker.path %}
          <a href="{{site.baseurl}}/{{ speaker.path }}">
            <div class="speaker-img">
              <!-- Inline dynamic styles for gradient here in speaker-img -->
              <picture>
                <img
                  alt="{{ speaker.name }} {{ speaker.lastname }}"
                  class="lazy"
                  data-src="{{site.baseurl}}{{ speaker.pic_url }}"
                />
              </picture>
            </div>
            <h3 class="heading heading--medium mt--40 dont-break-out">
              {{ speaker.name }} {{ speaker.lastname }}
            </h3>
          </a>
          <p class="fw--medium pt--10">
            {{ speaker.position }}
          </p>
          <p class="heading heading--medium">Keynote:</p>
          {% for talk in site.talks %} {% if talk.conference_path == page.path
          %} {% if talk.speaker_path == speaker.path %}
          <p>
            <a
              class="mono medium light gray pt--00 mt--10"
              href="{{site.baseurl}}/{{speaker.url}}#{{ talk.url | replace:'/talks','' | remove:'/' }}"
              >{{talk.title}}</a
            >
          </p>
          <div class="hashtags mt--10">
            <ul>
              {% assign tags_list = talk.tags %} {% if tags_list.first[0] ==
              null %} {% for tag in tags_list %}
              <li>
                <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}"
                  >#{{ tag }}</a
                >
              </li>
              {% endfor %} {% else %} {% for tag in tags_list %}
              <li>
                <a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify }}"
                  >#{{ tag[0] }}</a
                >
              </li>
              {% endfor %} {% endif %} {% assign tags_list = nil %}
            </ul>
          </div>
          {% endif %} {% endif %} {% endfor %} {% endif %} {% endfor %} {% endif
          %} {% endfor %}
        </div>
      </div>
    </div>

    <div class="grid-5 mt--50" style="margin-bottom: -40px;">
      <div class="col t-col-12 mb--40">
        {% for conf_speaker in site.conference_speakers %} {% if
        conf_speaker.conference_path == page.path %} {% for speaker in
        site.speakers %} {% if conf_speaker.speaker_path == speaker.path %}
        <a href="{{site.baseurl}}/{{ speaker.url }}">
          <div class="speaker-img">
            <picture>
              <img
                alt="{{ speaker.name }} {{ speaker.lastname }}"
                class="lazy"
                data-src="{{site.baseurl}}{{ speaker.pic_url }}"
              />
            </picture>
          </div>
          <h3 class="heading heading--medium mt--40 dont-break-out">
            {{ speaker.name }} {{ speaker.lastname }}
          </h3>
        </a>
        <p class="fw--medium pt--10">
          {{ speaker.position }}
        </p>
        {% for talk in site.talks %} {% if talk.conference_path == page.path %}
        {% if talk.speaker_path == speaker.path %}
        <p>
          <a
            class="mono medium light gray pt--00 mt--10"
            href="{{site.baseurl}}/{{speaker.url}}#{{ talk.path }}"
            >{{talk.title}}</a
          >
        </p>
        <div class="hashtags mt--10">
          <ul>
            {% assign tags_list = talk.tags %} {% if tags_list.first[0] == null
            %} {% for tag in tags_list %}
            <li>
              <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}"
                >#{{ tag }}</a
              >
            </li>
            {% endfor %} {% else %} {% for tag in tags_list %}
            <li>
              <a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify }}"
                >#{{ tag[0] }}</a
              >
            </li>
            {% endfor %} {% endif %} {% assign tags_list = nil %}
          </ul>
        </div>
        {% endif %} {% endif %} {% endfor %} {% endif %} {% endfor %} {% endif
        %} {% endfor %}
      </div>
    </div>
  </div>
</section>
