<section class="anchor__submenu section__register section-container section--spaced black-gradient--top black-gradient--bottom" id="tickets">
    <picture class="section__background">
        <img alt="Code BEAM STO register background" class="tile__logo lazy" data-src="{{ page.tickets_bg_image }}">
    </picture>
    <div class="container--small grid-gap-100">
        <h2 class="heading heading--large">TICKETS</h2>
        <div class="row mt--50 t-mt-10">
            <div class="col-8 t-col-12">
                <div class="paragraph--training mono fw--medium">
                    <p>{{ page.tickets_message }}</p>
                </div>
            </div>
            <div class="col-4 t-col-12">
                <div class="eventbrite mb--10 t-mt-40">
                    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69493616-5"></script>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag() {
                            dataLayer.push(arguments);
                        }
                        gtag('js', new Date());
                        gtag('config', 'UA-69493616-5', { 'send_page_view': false });
                    </script>

                    <noscript>
                        <a href="{{ page.eventbrite_url }}" rel="noopener noreferrer" target="_blank"></noscript>
                        <button id="eventbrite-widget-modal-trigger-{{page.eventbrite_id}}" type="button">Buy Tickets</button>
                        <noscript></a>Buy Tickets on Eventbrite</noscript>

                    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                    <script type="text/javascript">

                        (function (i, s, o, g, r, a, m) {
                            i["GoogleAnalyticsObject"] = r;
                            i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            },
                            i[r].l = 1 * new Date();
                            a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                            a.async = 1;
                            a.src = g;
                            m.parentNode.insertBefore(a, m)
                        })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

                        ga("create", "UA-69493616-5", "auto");
                        ga("require", "linker");
                        // name of the site to link with eventbrite
                        ga("linker:autoLink", ["codesync.global,eventbrite.com"], false, true);


                        // Get the tracking clientId and set it to a variable
                        var clientId;
                        ga(function (tracker) {
                            clientId = tracker.get("clientId");
                        });

                        var exampleCallback = function () {
                            console.log("Order complete!");
                        };

                        window.EBWidgets.createWidget({
                            widgetType: "checkout", eventId: "{{page.eventbrite_id}}", // replace with your event id
                            modal: true,
                            googleAnalyticsClientId: clientId,
                            modalTriggerElementId: "eventbrite-widget-modal-trigger-{{page.eventbrite_id}}", // replace with your modal widget trigger for the event
                            onOrderComplete: exampleCallback
                        });
                    </script>
                </div>
                <p class="mono fw--medium">{{ page.fees_message }}</p>
            </div>
        </div>
    </div>
    <div class="container--small">
        <div class="row mt--20 t-mt-40 m-mt-20 w--100">
            <div class="register-container">
                {% for ticket in site.tickets %}
                {% if ticket.conference_path == page.path %}
                            {% if ticket.type == 'regular' %}
                            <div class="register-box mt--60 t-mt-20 {% if ticket.open == false%}disabled{% endif%}">
                                <div class="register-content">
                                    <div class="register--border">
                                        <h2>
                                            <p>{{ ticket.title }}</p>
                                        </h2>
                                        <p>{{ ticket.desc }}</p>
                                        <p class="price fittext-dynamic heading heading--big bold text-center">{{ ticket.price }}</p>
                                    </div>
                                    {% if ticket.open == true %}
                                    <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                                    {% else %}
                                    <div class="btn btn--white btn-arrow disable">COMING SOON</div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if ticket.type == 'special' %}
                            <div class="register-box mt--60 t-mt-20">
                                <div class="register-content">
                                    <div class="register--border">
                                        <h2>
                                            <p>{{ ticket.title }}</p>
                                        </h2>
                                        <p>{{ ticket.desc }}</p>
                                        <p class="price fittext-dynamic heading heading--big bold text-center">FREE</p>
                                    </div>
                                    {% if ticket.open == true %}
                                    <a class="btn btn--white btn-arrow" href="{{ ticket.url }}">APPLY</a>
                                    {% else %}
                                    <div class="btn btn--white btn-arrow disable">COMING SOON</div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                {% endif %}
           
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<script>
    function openEventbrite() {
        var eventbriteButton = document.querySelector(".eventbrite button");
        if (eventbriteButton) {
            eventbriteButton.click();
        }
    }
</script>