<section class="anchor__submenu section-container section--spaced" id="past-conferences">
    <div class="container--small conferences-list">
        <h2 class="heading heading--large  mb--50 ">
            PAST CONFERENCES
        </h2>
        <div class="slider-inner">
            <div class="slider-frame">
                <ul class="columns slider-container">
                    <li class="column">
                        <div class="tile tile--old">
                            <a class="tile--bg" href="http://codesync.global/conferences/code-beam-sto-2019/">
                                <picture class="tile__bg-image"><img alt="Code BEAM STO 2019 Background" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/43ac1d189292a3e2bf822a88011531a495ef1dec.jpeg"></picture>
                                <picture><img alt="Code BEAM STO 2019 Logo" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/c63a23d43f73b3a938ba1682ed01c646f46fa815.png"></picture>
                                <p class="heading heading--medium">16-17 May 2019</p>
                                <p class="heading heading--small">Stockholm</p>
                            </a>
                            <a class="btn btn--white btn-arrow" href="http://codesync.global/conferences/code-beam-sto-2019/">Learn more</a>
                        </div>
                    </li>
                    <li class="column">
                        <div class="tile tile--old">
                            <a class="tile--bg" href="http://codesync.global/conferences/code-beam-sto-2018/">
                                <picture class="tile__bg-image"><img alt="Code BEAM STO 2018 Background" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/43ac1d189292a3e2bf822a88011531a495ef1dec.jpeg"></picture>
                                <picture><img alt="Code BEAM STO 2018 Logo" class="tile__logo lazy" data-src="/uploads/media/theme/0001/01/c63a23d43f73b3a938ba1682ed01c646f46fa815.png"></picture>
                                <p class="heading heading--medium">31 May - 01 Jun 2018</p>
                                <p class="heading heading--small">Stockholm</p>
                            </a>
                            <a class="btn btn--white btn-arrow" href="http://codesync.global/conferences/code-beam-sto-2018/">Learn more</a>
                        </div>
                    </li>
                    <li class="column">
                        <div class="tile tile--old">
                            <a class="tile--bg bordered" href="http://www.erlang-factory.com/euc2017" rel="noopener noreferrer" target="_blank">
                                <p class="heading heading--normal bold">Erlang User Conference</p>
                                <p class="heading heading--normal regular mt--5 dont-break-out">08-09
                                                                        Jun 2017</p>
                                <p class="heading heading--small regular mt--5">Stockholm</p>
                            </a>
                            <a class="btn btn--white btn-arrow" href="http://www.erlang-factory.com/euc2017" rel="noopener noreferrer" target="_blank">Learn
                                                                more</a>
                        </div>
                    </li>
                    <li class="column">
                        <div class="tile tile--old">
                            <a class="tile--bg bordered" href="http://www.erlang-factory.com/sfbay2016" rel="noopener noreferrer" target="_blank">
                                <p class="heading heading--normal bold">Erlang User Conference</p>
                                <p class="heading heading--normal regular mt--5 dont-break-out">08-09
                                                                        Sep 2016</p>
                                <p class="heading heading--small regular mt--5">Stockholm</p>
                            </a>
                            <a class="btn btn--white btn-arrow" href="http://www.erlang-factory.com/sfbay2016" rel="noopener noreferrer" target="_blank">Learn
                                                                more</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>