<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('{{ page.conference_custom_5_bg }}')">
    <div class="container--small">
        <div class="grid">
            <h3 class="anchor__submenu heading heading--large pt--100 m-pt-40 " id="diversity-inclusion">
                {{ page.conference_custom_5_heading }}
            </h3>
            <div class="row">
                <div class="col-12 t-col-12 m-col-12">
                    <div class="grid-middle paragraphBigImportant">
                        <p>{{ page.conference_custom_5_description }}</p>
                    </div>
                </div>
                <div class="col-12 t-col-12 m-col-12">
                    <div class="grid-bottom mt--30">
                        <a class="btn btn--pink btn--primary align--right triangle-left-full" href="{{ page.conference_custom_5_link_url }}">
                            {{ page.conference_custom_5_link_text }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- correct styles below -->

<section class="anchor__submenu venue vp--100 d-vp-80 t-vp-70 m-vp-50 section-container black-gradient--bottom black-gradient--top lazy" id="{{ page.conference_custom_2_id }}" data-bg="url('{{ page.conference_custom_5_bg }}')" >
    <div class="container--small">
        <div class="grid-gap-100">
            <h1 class="heading heading--large">{{ page.conference_custom_5_heading }}</h1>
            <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00">
                <div class="col-5  t-col-6 m-col-12 address">
                    <div class="venue__description">
                        <p>{{ page.conference_custom_5_description }}</p>
                    </div>
                </div>
                <div class="col-7 t-col-6 m-col-12">
                    <div class="arrival__description mb--60 m-mb-00">
                        <h3>{{ page.conference_custom_5_subtitle }}</h3>
                        <p>{{ page.conference_custom_5_description_2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>