<section class="banner vp--100 black-gradient--top black-gradient--bottom">
    <picture class="banner--background">
        <source data-srcset="{{site.baseurl}}{{ page.bg_image }}" media="(max-width: 1050px)"/>
        <img alt="{{ page.title }} Background" class="lazy" data-src="{{site.baseurl}}{{ page.bg_image }}"/>
    </picture>
    <div class="container--small">
        <div class="flex-grid mt--70 m-mt-50">
            <div class="col-5 t-col-6 m-col-12 conf-logo">
                <div class="banner__logo">
                    <picture>
                        <img alt="{{ page.title }} Logo" class="lazy" data-src="{{site.baseurl}}{{ page.logo_img }}"/>
                    </picture>
                    <div class="mt--50">
                        <span class="heading heading--conference-banner">{{ page.conference_dates }}</span>
                        <div class="heading heading--conference-banner countdown">
                            <span id="countdown"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7 t-col-6 m-col-12">
                <div>
                    <h2 class="heading heading--normal">
                        {{ page.head_title }}
                    </h2>
                    <p class="paragraph--banner">
                        {{ page.content }}
                    </p>

                    <a class="btn btn--pink triangle-left-empty mt--50" href="#tickets" style="background-color: {{ page.primary }};">
                        <svg data-name="Layer 1" viewbox="0 0 26.634 29.055" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <filter color-interpolation-filters="sRGB" id="a">
                                    <feFlood flood-color="#fff" flood-opacity=".16" result="flood"/>
                                    <feComposite in2="SourceGraphic" in="flood" operator="in" result="composite1"/>
                                    <feGaussianBlur in="composite1" result="blur" stddeviation="10"/>
                                    <feOffset dx="16" dy="16" result="offset"/>
                                    <feComposite in2="offset" in="SourceGraphic" result="fbSourceGraphic"/>
                                    <feColorMatrix in="fbSourceGraphic" result="fbSourceGraphicAlpha" values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0"/>
                                    <feFlood flood-color="#fff" flood-opacity=".16" result="flood"/>
                                    <feComposite in2="fbSourceGraphic" in="flood" operator="in" result="composite1"/>
                                    <feGaussianBlur in="composite1" result="blur" stddeviation="10"/>
                                    <feOffset dy="-10" result="offset"/>
                                    <feComposite in2="offset" in="fbSourceGraphic" result="composite2"/>
                                </filter>
                            </defs>
                            <path d="M28.5 15.5l-22-12 .03 24z" data-name="Shape 2 copy 2" fill="none" filter="url(#a)" style="box-shadow: 0 3px 3.44px 0.56px rgba(9, 14, 44, 0.09);" transform="translate(-4.997 -.97)"/>
                            <path d="M23.503 14.53l-22-12 .03 24z" data-name="Shape 2 copy 2" fill="none" stroke-width="3" stroke="#fff"/>
                        </svg>
                        GET TICKETS</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  var countDownDate = new Date("{{ page.conference_init_date }}").getTime(),
    x = setInterval(function () {
      var e = new Date().getTime(),
        n = countDownDate - e,
        a = "",
        s = Math.floor(n / 864e5),
        t = Math.floor((n % 864e5) / 36e5),
        o = Math.floor((n % 36e5) / 6e4);
      (a =
        s > 0
          ? '<span class="huge">' +
            s +
            '</span>d <span class="huge">' +
            t +
            '</span>h <span class="huge">' +
            o +
            "</span>m"
          : (a =
              ' <span class="huge">' +
              t +
              '</span>h <span class="huge">' +
              o +
              '</span>m <span class="huge">' +
              Math.floor((n % 6e4) / 1e3) +
              "</span>s")),
        (document.getElementById("countdown").innerHTML = a),
        n < 0 &&
          (clearInterval(x),
          (document.getElementById("countdown").innerHTML = "EXPIRED"));
    }, 1e3);
</script>
