<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('')">
    <div class="container--small">
        <div class="grid">
            <h3 class="anchor__submenu heading heading--large pt--100 m-pt-40 " id="student-tickets">ACADEMIC &amp;
                                STUDENT TICKETS</h3>
            <div class="row">
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-middle paragraphBigImportant">
                        <p>We love students and academics. We&#39;re thrilled to offer&nbsp;special discounts to
                                                        academics and students who would like to attend Code BEAM STO.</p>

                        <p>Simply get in touch to confirm that you&#39;re a student/academic and we will release the
                                                        discount code.&nbsp;</p>
                    </div>
                </div>
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-bottom mt--30">
                        <a class="btn btn--pink btn--primary align--right triangle-left-full" href="mailto:info@codesync.global?subject=Academic%20/%20Student%20tickets%20for%20Code%20BEAM%20STO%2020">
                            ENQUIRE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>