<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('')">
    <div class="container--small">
        <div class="grid">
            <h3 class="anchor__submenu heading heading--large pt--100 m-pt-40 " id="diversity-inclusion">DIVERSITY &amp;
                                INCLUSION</h3>
            <div class="row">
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-middle paragraphBigImportant">
                        <p>We are always looking to improve diversity at our conferences. To help achieve this, we are
                                                        providing free diversity places to under-represented groups in tech. Applications
                                                        close&nbsp;on&nbsp;27 July&nbsp;2020.</p>
                    </div>
                </div>
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-bottom mt--30">
                        <a class="btn btn--pink btn--primary align--right triangle-left-full" href="https://www2.codesync.global/l/23452/2020-02-05/6w586v">
                            APPLY
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>