<section class="carousel--section trainings-list anchor__submenu tutorial section-container section--spaced" id="learn">
    <div class="container--small">
        <h2 class="heading heading--large">LEARN</h2>
        <div class="row">
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#106otp-for-the-seasoned-erlanger">
                    <div class="speaker-img">
                        <picture>
                            <img alt="OTP for the seasoned Erlanger" class="lazy" data-src="/uploads/media/activities/0001/02/de53e339ec90b13487f558a61b2f81d347c42e48.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#106otp-for-the-seasoned-erlanger">OTP
                                                for the seasoned Erlanger</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Training/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/robert-virding/">Robert Virding</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">07-09 Sep 2020<br/>
                            09:00 - 17:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#109elixir-otp-behaviours-behind-the-scenes">
                    <div class="speaker-img">
                        <picture>
                            <img alt="Elixir OTP Behaviours: Behind the Scenes" class="lazy" data-src="/uploads/media/activities/0001/02/5f2c75c834e983505ead1e65ec34b8ed9f0414b3.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#109elixir-otp-behaviours-behind-the-scenes">Elixir
                                                OTP Behaviours: Behind the Scenes</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Training/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/mikael-muszynski/">Mikael Muszynski</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">07-09 Sep 2020<br/>
                            09:00 - 17:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#107clueful-elixir-with-kubernetes">
                    <div class="speaker-img">
                        <picture>
                            <img alt="Clueful Elixir with Kubernetes" class="lazy" data-src="/uploads/media/activities/0001/02/8c11aa72f8a565f4431622337566a9d76cce6525.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#107clueful-elixir-with-kubernetes">Clueful
                                                Elixir with Kubernetes</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Tutorial/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/bryan-hunt/">Bryan Hunt</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">09 Sep 2020<br/>
                            09:00 - 17:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#108beam-vm-under-the-hood">
                    <div class="speaker-img">
                        <picture>
                            <img alt="BEAM VM under the Hood" class="lazy" data-src="/uploads/media/activities/0001/02/af414dd26615c1bc211d2f50fa216fa4c475f2c0.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#108beam-vm-under-the-hood">BEAM
                                                VM under the Hood</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Tutorial/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/dmytro-lytovchenko/">Dmytro Lytovchenko</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">09 Sep 2020<br/>
                            09:00 - 17:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#110unit-system-and-property-based-testing-break-your-erlang-system-before-your-customers-do">
                    <div class="speaker-img">
                        <picture>
                            <img alt="Unit, System and Property Based Testing - Break your Erlang system before your customers do!" class="lazy" data-src="/uploads/media/activities/0001/02/6c771e4a2a9c6ffbb1a6f9d2ede2384560025082.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#110unit-system-and-property-based-testing-break-your-erlang-system-before-your-customers-do">Unit,
                                                System and Property Based Testing - Break your Erlang system before your customers do!</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Tutorial/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/stavros-aronis/">Stavros Aronis</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">09 Sep 2020<br/>
                            09:00 - 17:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#111otp-certification">
                    <div class="speaker-img">
                        <picture>
                            <img alt="OTP Certification" class="lazy" data-src="/uploads/media/activities/0001/02/b8fd71aacda43d6e991fe8404f8525005f4db453.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#111otp-certification">OTP
                                                Certification</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Training/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/certification/">CERTIFICATION</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">10-11 Sep 2020<br/>
                            09:00 - 18:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
            <div class="tutorial__slide">
                <a href="http://codesync.global/conferences/code-beam-sto/training/#112erlang-certification">
                    <div class="speaker-img">
                        <picture>
                            <img alt="Erlang Certification" class="lazy" data-src="/uploads/media/activities/0001/02/b554930f8b490539550ce35e746e99f8733e97f5.png">
                        </picture>
                    </div>
                </a>
                <div class="color--main heading heading--medium light mt--40">
                    <a class="dont-break-out" href="http://codesync.global/conferences/code-beam-sto/training/#112erlang-certification">Erlang
                                                Certification</a>
                </div>

                <div class="desc">
                    <p class="paragraph mono medium mt--10">
                        Training/
                    </p>
                    <div class="mb--20 paragraph mono medium">
                        <a class="dont-break-out speaker-name" class="training__link dont-break-out" href="http://codesync.global/speaker/certification/">CERTIFICATION</a>
                    </div>
                    <div class="paragraph mono medium mt--20">
                        <div style="margin-bottom:-20px">Time/</div>
                        <span class="mt--20 block">10-11 Sep 2020<br/>
                            09:00 - 18:00
                        </span>
                        <span class="mt--20 block"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>