<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('')">
    <div class="container--small">
        <div class="grid">
            <h3 class="anchor__submenu heading heading--large pt--100 m-pt-40 " id="call-for-talks">CALL FOR TALKS - NOW
                                CLOSED</h3>
            <div class="row">
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-middle paragraphBigImportant">
                        <p>Speak at Code BEAM STO! Call for talks&nbsp;closed&nbsp;on 17&nbsp;January 2020. We will be
                                                        in touch with speakers in the week commencing 27 January about the status of your talk!</p>
                    </div>
                </div>
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-bottom mt--30">
                        <a class="btn btn--pink btn--primary align--right triangle-left-full" href=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>