<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('{{ page.conference_custom_3_bg }}')" id="{{ page.conference_custom_3_id }}">
    <div class="container--small">
        <div class="grid">
            <h3 class="anchor__submenu heading heading--large pt--100 m-pt-40 ">
                {{ page.conference_custom_3_heading }}
            </h3>
            <div class="row">
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-middle paragraphBigImportant">
                        <p>{{ page.conference_custom_3_description }}</p>
                    </div>
                </div>
                <div class="col-6 t-col-6 m-col-12">
                    <div class="grid-bottom mt--30">
                        <a class="btn btn--pink btn--primary align--right triangle-left-full" href="{{ page.conference_custom_3_link_url }}">
                            {{ page.conference_custom_3_link_text }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>