<section class="anchor__submenu venue vp--100 d-vp-80 t-vp-70 m-vp-50 section-container black-gradient--bottom black-gradient--top lazy" data-bg="url('/uploads/media/venue/0001/01/06eec0ed97be05e4e450d332160f382f44781605.jpeg')" id="venue">
    <div class="container--small">
        <div class="grid-gap-100">
            <h1 class="heading heading--large">VENUE</h1>
            <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00">
                <div class="col-5  t-col-6 m-col-12 address">
                    <h2 class="heading heading--medium color--main mb--20 bold">{{ page.venue_name }}</h2>
                    <div class="venue__description">
                        <p>{{ page.venue_address_1 }}</p>
                        <p>{{ page.venue_address_2 }}</p>
                        <p>{{ page.venue_address_3 }}</p>
                    </div>
                </div>
                <div class="col-7 t-col-6 m-col-12">
                    <div class="arrival__description mb--60 m-mb-00">
                        <h3>PUBLIC TRANSPORT</h3>
                        <p>{{ page.venue_transport_directions }}</p>
                        <p>
                            <a href="{{ page.venue_map_url }}" target="_blank">See MAP</a>
                        </p>
                        <h3>TAXI</h3>
                        <p>{{ page.venue_taxi_instructions }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>