<section class="carousel--section section-container anchor__submenu testimonial section--spaced" id="testimonials">
    <div class="container--small">
        <div class="carousel">
            <div class="carousel-inner">
                <div class="testimonial__slide">
                    <div class="testimonial__text">
                        <svg class="quote" viewbox="0 0 228 186" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#ff005f">
                                <path d="M0 47.5V95h18.5c10.2 0 18.5.3 18.5.6s-5.2 18.4-11.6 40.2c-6.3 21.8-12.2 41.8-12.9 44.5l-1.4 4.7 20-.2 20-.3 21.5-49.3L94 85.8V0H0v47.5zM131 47.5V95h37.8l-6.9 23.7C150.4 158 143 183.9 143 184.4c0 .4 8.9.6 19.8.6h19.7l21.8-50.3L226 84.5V0h-95v47.5z"/>
                            </g>
                        </svg>
                        <h3 class="heading heading--medium heading--pink"></h3>
                        <div class="mt--40">
                            <p>Code BEAM STO is a vibrant space where the best of the industry and community gather to
                                                                rocket the BEAM ecosystem.</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__slide">
                    <div class="testimonial__text">
                        <svg class="quote" viewbox="0 0 228 186" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#ff005f">
                                <path d="M0 47.5V95h18.5c10.2 0 18.5.3 18.5.6s-5.2 18.4-11.6 40.2c-6.3 21.8-12.2 41.8-12.9 44.5l-1.4 4.7 20-.2 20-.3 21.5-49.3L94 85.8V0H0v47.5zM131 47.5V95h37.8l-6.9 23.7C150.4 158 143 183.9 143 184.4c0 .4 8.9.6 19.8.6h19.7l21.8-50.3L226 84.5V0h-95v47.5z"/>
                            </g>
                        </svg>
                        <h3 class="heading heading--medium heading--pink"></h3>
                        <div class="mt--40">
                            <p>Code BEAM STO is a great place to meet others in the community who may be doing similar
                                                                things to you or something so radically different that it inspires you to new heights.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-control left">
                <div class="arrow left arrow arrow--left--white"></div>
            </div>
            <div class="carousel-control right">
                <div class="arrow right"></div>
            </div>
        </div>
    </div>
</section>