<section class="anchor__submenu two-col section-container section--spaced" id="health-advice">
    <div class="container--small">
        <div class="grid-gap-100">
            <h2 class="heading heading--large">HEALTH ADVICE</h2>
            <div class="row mt--100 t-mt-60 t-mb-50 m-mt-20 m-mb-00 welcome__content">
                <div class="col-6 m-col-12">
                    <p>
                        {{ page.health_advice_p_1}}
                    </p>
                </div>
                <div class="col-6 m-col-12 right">
                    <p>
                        {{ page.health_advice_p_2}}
                    </p>

                    <p>
                        <strong>
                            <a href="http://mailto:{{ page.health_advice_mailto }}" 
                               style="color: {{page.primary}};">Contact us</a>
                        </strong>
                        if you have any further concerns.</p>
                </div>
            </div>
        </div>
    </div>
</section>