<section class="anchor__submenu section__register section-container section--spaced black-gradient--top black-gradient--bottom" id="tickets">
    <picture class="section__background">
        <img alt="Code BEAM STO register background" class="tile__logo lazy" data-src="/uploads/media/section/0001/02/bff94d8efbee3518999fbfe7baba730dd4ecf586.png">
    </picture>
    <div class="container--small grid-gap-100">
        <h2 class="heading heading--large">TICKETS</h2>
        <div class="row mt--50 t-mt-10">
            <div class="col-8 t-col-12">
                <div class="paragraph--training mono fw--medium">
                    <p>Early bird conference,&nbsp;training, tutorial, and certification places will be&nbsp;available
                                                until 23:59 CEST 28 May&nbsp;2020.</p>
                </div>
            </div>
            <div class="col-4 t-col-12">
                <div class="eventbrite mb--10 t-mt-40">
                    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69493616-5"></script>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag() {
                            dataLayer.push(arguments);
                        }
                        gtag('js', new Date());
                        gtag('config', 'UA-69493616-5', { 'send_page_view': false });
                    </script>

                    <noscript>
                        <a href="https://www.eventbrite.co.uk/e/code-beam-sto-2020-tickets-90357035325" rel="noopener noreferrer" target="_blank"></noscript>
                        <button id="eventbrite-widget-modal-trigger-90357035325" type="button">Buy Tickets</button>
                        <noscript></a>Buy Tickets on Eventbrite</noscript>

                    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                    <script type="text/javascript">

                        (function (i, s, o, g, r, a, m) {
                            i["GoogleAnalyticsObject"] = r;
                            i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            },
                            i[r].l = 1 * new Date();
                            a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                            a.async = 1;
                            a.src = g;
                            m.parentNode.insertBefore(a, m)
                        })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

                        ga("create", "UA-69493616-5", "auto");
                        ga("require", "linker");
                        // name of the site to link with eventbrite
                        ga("linker:autoLink", ["codesync.global,eventbrite.com"], false, true);


                        // Get the tracking clientId and set it to a variable
                        var clientId;
                        ga(function (tracker) {
                            clientId = tracker.get("clientId");
                        });

                        var exampleCallback = function () {
                            console.log("Order complete!");
                        };

                        window.EBWidgets.createWidget({
                            widgetType: "checkout", eventId: "90357035325", // replace with your event id
                            modal: true,
                            googleAnalyticsClientId: clientId,
                            modalTriggerElementId: "eventbrite-widget-modal-trigger-90357035325", // replace with your modal widget trigger for the event
                            onOrderComplete: exampleCallback
                        });
                    </script>
                </div>
                <p class="mono fw--medium">All prices exclude fees and VAT</p>
            </div>
        </div>
    </div>
    <div class="container--small">
        <div class="row mt--20 t-mt-40 m-mt-20 w--100">
            <div class="register-container">
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>EARLY BIRD CONFERENCE TICKET</p>
                            </h2>
                            <p>Access to the two day conference. Price excludes VAT and fees.</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">5,600.00 kr</p>
                        </div>
                        <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>EARLY BIRD CONFERENCE + TRAINING TICKET</p>
                            </h2>
                            <p>Access to the two day conference and a three-day training course of your choice. Saving
                                                                of 10%. Price excludes VAT and fees.</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">15,061.50 kr</p>
                        </div>
                        <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>EARLY BIRD CONFERENCE + TUTORIAL TICKET</p>
                            </h2>
                            <p>Access to the two day conference and a one-day tutorial of your choice. Saving of 10%.
                                                                Price excludes VAT and fees.</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">8,235.00 kr</p>
                        </div>
                        <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>ERLANG OR OTP CERTIFICATION</p>
                            </h2>
                            <p>Erlang or OTP certification exam. Price excludes VAT and fees.</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">2,040.00 kr</p>
                        </div>
                        <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>EARLY BIRD TRAINING TICKET</p>
                            </h2>
                            <p>Access to a three-day training course of your choice. Price excludes VAT and fees.</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">11,135.00 kr</p>
                        </div>
                        <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>EARLY BIRD TUTORIAL TICKET</p>
                            </h2>
                            <p>Access to a one-day tutorial of your choice. Price excludes VAT and fees.</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">3,550.00 kr</p>
                        </div>
                        <div class="btn btn--white btn-arrow" onclick="openEventbrite()">REGISTER</div>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>DIVERSITY TICKETS</p>
                            </h2>
                            <p>Apply to our diversity scheme which awards under-represented members of the BEAM
                                                                community free tickets to Code BEAM STO!</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">FREE</p>
                        </div>
                        <a class="btn btn--white btn-arrow" href="https://www2.codesync.global/l/23452/2020-02-05/6w586v">APPLY</a>
                    </div>
                </div>
                <div class="register-box mt--60 t-mt-20">
                    <div class="register-content">
                        <div class="register--border">
                            <h2>
                                <p>VOLUNTEER PLACES</p>
                            </h2>
                            <p>Join the team as a volunteer and get free access to the conference!</p>
                            <p class="price fittext-dynamic heading heading--big bold text-center">FREE</p>
                        </div>
                        <a class="btn btn--white btn-arrow" href="https://www2.codesync.global/l/23452/2020-02-05/6w586s">APPLY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function openEventbrite() {
        var eventbriteButton = document.querySelector(".eventbrite button");
        if (eventbriteButton) {
            eventbriteButton.click();
        }
    }
</script>