<section class="anchor__submenu about section-container section--spaced" id="about">
    <div class="container--small">
        <div>
            <h1 class="heading heading--large">DISCOVER THE FUTURE OF THE ERLANG ECOSYSTEM</h1>
            <div class="row mono fw--medium">
                <p>&nbsp;</p>

                <ul>
                    <li>2
                        <p>DAYS</p>
                    </li>
                    <li>7
                        <p>THEMES</p>
                    </li>
                    <li>50+
                        <p>SPEAKERS</p>
                    </li>
                    <li>300+
                        <p>ATTENDEES</p>
                    </li>
                </ul>

                <p>&nbsp;</p>
            </div>
            <div class="row mt--50 t-mt-20">
                <div class="about__description">
                    <div class="about-column">
                        <div class="heading heading--normal heading--roboto color--main">The future of the Erlang
                                                        ecosystem, in the home of Erlang!</div>
                        <p>
                            <strong>Code BEAM STO 2020 has been postponed from May to September 2020 due to public health
                                                                concerns around COVID-19.</strong>
                        </p>

                        <p>Code BEAM STO conference is all about discovering the future of the Erlang Ecosystem and
                                                        bringing together developers as a community to share knowledge &amp; ideas, learn from each
                                                        other and inspire to invent the future.</p>

                        <p>An action-packed two-day conference fused with a mix of talks on innovation and open-source
                                                        applications based on Erlang, OTP, Elixir, LFE, BEAM and other emerging technologies!</p>
                    </div>
                    <div>
                        <div class="heading heading--normal heading--roboto color--main">CODE BEAM STO 2020 - BACK THIS
                                                        SEPTEMBER!</div>
                        <p>
                            <a href="https://codesync.global/conferences/code-beam-sto/#tickets">
                                <strong>REGISTER&nbsp;</strong>
                            </a>
                            - Early bird tickets are available until 28 May 2020.&nbsp;</p>

                        <p>
                            <a href="https://codesync.global/conferences/code-beam-sto/#group-tickets">
                                <strong>GROUP
                                                                        TICKETS</strong>
                            </a>
                            - Get special group discounts for group bookings.&nbsp;</p>

                        <p>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sto/#student-tickets">ACADEMIC
                                                                        TICKETS</a>
                            </strong>
                            -&nbsp;We love students and academics. Get a special academic
                                                        discount.</p>

                        <p>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sto/#diversity-inclusion">DIVERSITY
                                                                        &amp; INCLUSION</a>
                            </strong>
                            -&nbsp;We&#39;re committed to diversity at Code BEAM
                                                        SF. Applications are open until<strong>
                                27 July 2020.</strong>
                        </p>

                        <p>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sto/#volunteer">VOLUNTEER</a>
                            </strong>
                            -&nbsp;Join the Code BEAM SF family and get free access to the conference! Applications are
                                                        open until
                            <strong>27 August 2020.</strong>&nbsp;</p>

                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>