<section class="anchor__submenu about section-container section--spaced" id="about">
    <div class="container--small">
        <div>
            <h1 class="heading heading--large">{{ page.overview_heading}}</h1>
            <div class="row mono fw--medium">
                <p>&nbsp;</p>
                <ul>
                    <li>
                        {{ page.number_of_days }}
                        <p>DAYS</p>
                    </li>
                    <li style="color: #{{page.secondary}};">
                        {{ page.number_of_themes }}
                        <p>THEMES</p>
                    </li>
                    <li style="color: #{{page.primary}};">
                        {{ page.number_of_themes }}+
                        <p>SPEAKERS</p>
                    </li>
                    <li style="color: #{{page.primary}};">
                        {{ page.number_of_attendees }}+
                        <p>ATTENDEES</p>
                    </li>
                </ul>

                <p>&nbsp;</p>
            </div>
            <div class="row mt--50 t-mt-20">
                <div class="about__description">
                    <div class="about-column">
                        <div class="heading heading--normal heading--roboto color--main" style="color: #{{page.primary}};">
                            {{ page.about_title_left }}
                        </div>
                        <p>
                            <strong>{{ page.about_paragraph_1 }}</strong>
                        </p>
                        <p>
                            {{ page.about_paragraph_2 }}
                        </p>
                        <p>
                            {{ page.about_paragraph_3 }}
                        </p>
                    </div>
                    <div>
                        <div class="heading heading--normal heading--roboto color--main" style="color: #{{page.primary}};">
                            {{ page.about_title_right }}
                        </div>
                        <p>
                            <a href="https://codesync.global/conferences/code-beam-sto/#tickets" style="color: #{{page.primary}};">
                                <strong>REGISTER&nbsp;</strong>
                            </a>
                            -
                            {{ page.about_register_message }}
                        </p>

                        <p>
                            <a href="https://codesync.global/conferences/code-beam-sto/#group-tickets" style="color: #{{page.primary}};">
                                <strong>GROUP TICKETS</strong>
                            </a>
                            -
                            {{ page.about_group_tickets_message }}
                        </p>

                        <p>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sto/#student-tickets" style="color: #{{page.primary}};">ACADEMIC TICKETS</a>
                            </strong>
                            -
                            {{ page.about_academic_tickets_message }}
                        </p>

                        <p>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sto/#diversity-inclusion" style="color: #{{page.primary}};">DIVERSITY &amp; INCLUSION</a>
                            </strong>
                            -
                            {{ page.about_diversity_message }}
                        </p>

                        <p>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sto/#volunteer" style="color: #{{page.primary}};">VOLUNTEER</a>
                            </strong>
                            -
                            {{ page.about_volunteer_message }}
                        </p>

                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
