<section class="anchor__submenu venue vp--100 d-vp-80 t-vp-70 m-vp-50 section-container black-gradient--bottom black-gradient--top lazy" data-bg="url('/uploads/media/venue/0001/01/06eec0ed97be05e4e450d332160f382f44781605.jpeg')" id="venue">
    <div class="container--small">
        <div class="grid-gap-100">
            <h1 class="heading heading--large">VENUE</h1>
            <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00">
                <div class="col-5  t-col-6 m-col-12 address">
                    <h2 class="heading heading--medium color--main mb--20 bold" style="color: {{page.primary}};">{{ page.venue_name }}</h2>
                    <div class="venue__description">
                        <p>{{ page.venue_address_1 }}</p>
                        <p>{{ page.venue_address_2 }}</p>
                        <p>{{ page.venue_address_3 }}</p>
                    </div>
                </div>
                <div class="col-7 t-col-6 m-col-12">
                    <div class="arrival__description mb--60 m-mb-00">
                        <h3>PUBLIC TRANSPORT</h3>
                        <p>{{ page.venue_transport_directions }}</p>
                        <p>
                            <a href="{{ page.venue_map_url }}" target="_blank">See MAP</a>
                        </p>
                        <h3>TAXI</h3>
                        <p>{{ page.venue_taxi_instructions }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="map" style="height: 500px;"></div>
<script>
    function initMap() {
        var venue = { lat: 59.320680, lng: 18.056175 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: venue,
            styles: [{ elementType: "geometry", stylers: [{ color: "#212121" }] }, {
                elementType: "labels.icon",
                stylers: [{ visibility: "off" }]
            }, { elementType: "labels.text.fill", stylers: [{ color: "#757575" }] }, {
                elementType: "labels.text.stroke",
                stylers: [{ color: "#212121" }]
            }, {
                featureType: "administrative",
                elementType: "geometry",
                stylers: [{ color: "#757575" }]
            }, {
                featureType: "administrative.country",
                elementType: "labels.text.fill",
                stylers: [{ color: "#9e9e9e" }]
            }, {
                featureType: "administrative.land_parcel",
                stylers: [{ visibility: "off" }]
            }, {
                featureType: "administrative.locality",
                elementType: "labels.text.fill",
                stylers: [{ color: "#bdbdbd" }]
            }, {
                featureType: "poi",
                elementType: "labels.text.fill",
                stylers: [{ color: "#757575" }]
            }, {
                featureType: "poi.park",
                elementType: "geometry",
                stylers: [{ color: "#181818" }]
            }, {
                featureType: "poi.park",
                elementType: "labels.text.fill",
                stylers: [{ color: "#616161" }]
            }, {
                featureType: "poi.park",
                elementType: "labels.text.stroke",
                stylers: [{ color: "#1b1b1b" }]
            }, {
                featureType: "road",
                elementType: "geometry.fill",
                stylers: [{ color: "#2c2c2c" }]
            }, {
                featureType: "road",
                elementType: "labels.text.fill",
                stylers: [{ color: "#8a8a8a" }]
            }, {
                featureType: "road.arterial",
                elementType: "geometry",
                stylers: [{ color: "#373737" }]
            }, {
                featureType: "road.highway",
                elementType: "geometry",
                stylers: [{ color: "#3c3c3c" }]
            }, {
                featureType: "road.highway.controlled_access",
                elementType: "geometry",
                stylers: [{ color: "#4e4e4e" }]
            }, {
                featureType: "road.local",
                elementType: "labels.text.fill",
                stylers: [{ color: "#616161" }]
            }, {
                featureType: "transit",
                elementType: "labels.text.fill",
                stylers: [{ color: "#757575" }]
            }, {
                featureType: "water",
                elementType: "geometry",
                stylers: [{ color: "#000000" }]
            }, { featureType: "water", elementType: "labels.text.fill", stylers: [{ color: "#3d3d3d" }] }]
        });
        var icon = {
            path: "m 449.8,194.3 c 0,36.8 -12.2,75.5 -30.3,112.7 -68.4,106.2 -154.8,203.5 -154.8,203.5 0,0 -99.4,-94 -163,-205.5 C 85.8,270.2 75.4,233.4 75.4,196.5 75.3,93 159.1,3 262.5,3 366,3 449.8,90.7 449.8,194.3 Z m -89,-9.7 c 0,-53.4 -43.2,-96.6 -96.5,-96.6 -53.3,0 -96.5,43.2 -96.5,96.6 0,53.4 43.2,96.5 96.5,96.5 53.3,0 96.5,-43.1 96.5,-96.5 z",
            fillColor: FIRST_COLOR,
            fillOpacity: .6,
            anchor: new google.maps.Point(280, 520),
            strokeWeight: 0,
            scale: .1
        }, marker = new google.maps.Marker({ position: venue, map: map, icon: icon });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcgbrY2G9ZVdreZV9KBwXnVICup-10Zdw&callback=initMap"></script>