<section class="anchor__submenu sponsors-partners section-container section--spaced" id="diversity-sponsors">
    <div class="container--small">
        <div class="grid-gap-100">
            <h2 class="heading heading--large">OUR SPONSORS</h2>
            <div class="row mt--50 d-mt-20">
                <div>
                    <p class="heading heading--small mb--30">Diversity &amp; Inclusion Sponsors</p>
                </div>
                <div class="logos">
                    {% assign sorted = site.sponsors | where: 'type', 'diversity_sponsor' %}
                    {% for sponsor in sorted %}
                        <a class="grid--3" href="{{ sponsor.url }}" rel="noindex nofollow noopener noreferrer" target="_blank" title="{{ sponsor.title }}">
                            <picture>
                                <img alt="{{ page.title }} Logo" class="lazy" data-src="{{ sponsor.image_url }}" style="max-width: '{{ sponsor.max_width}}'; ">
                            </picture>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt--80 m-mt-20">
                <a class="btn btn--pink triangle-left-full" href="mailto:john.baughen@codesync.global">BECOME A SPONSOR</a>
            </div>
        </div>
    </div>
</section>