<section class="media m-vp-30 m-pb-00 section-container">
    <div class="container--small">
        <div class="grid-gap-100">
            <h2 class="heading heading--big1 mb--50 m-mb-20">FEATURED ARTICLES</h2>
            <div class="row row__articles" id="featured-articles">
                {% assign sorted = site.posts | sort: "relevance" | where: 'featured', true %}
                {% for post in sorted %}
                    <div class="col-4 t-col-12 t-mt-40 article__box" data-type="article">
                        <h3 class="heading heading--normal">
                            <a class="heading heading--normal heading--roboto article__title" href="{{ post.url }}">{{ post.title }}
                            </a>
                        </h3>
                        <picture>
                            <img alt="COVID-19: community update &amp; support" class="tile__logo lazy" data-src="{{ post.image_url}}">
                        </picture>
                        <div class="article__desc">
                            <p class="paragraph">{{ post.excerpt }}</p>
                            <a href="{{ post.url }}">READ MORE</a>
                        </div>
                        <div class="hashtags">
                            <ul></ul>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>