<section class="banner banner--scholarship img-volunteer-bg vp--100 black-gradient--top black-gradient--bottom mh--100vh">
    <div class="container--small">
        <div class="mt--120">
            <div class="text-center">
                <h1 class="heading heading--xxlarge color--main">
                    {{ page.head_title }}
                </h1>
                {% if head_desc == true %}
                    <h2 class="heading heading--medium mt--50">
                        <p>{{ page.head_desc }}<br>{{ page.head_desc_2 }}</p>
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="arrow--box text-center">
        <a href="#Process">
            <div class="arrow arrow--down--white"></div>
        </a>
    </div>
</section>