<section class="m-vp-30 m-pb-00 mb--50 section-container speaker-activity">
    <div class="container--small pt--50 t-pt-25" style="border-top: 4px solid white;">
        <div class="accordion">
            <h2 class="heading heading--large activity-name">
                UPCOMING Activities
                <span class="arrow arrow--down--white"></span>
            </h2>
        </div>
        <div class="grid panel">
            {% for conference in site.conferences %}
                {% if conference.past == false %}
                    {% for conference_speaker in site.conference_speakers %}
                        {% if conference_speaker.speaker_path == page.path %}
                            {% for talk in site.talks %}
                                {% if conference.path == talk.conference_path %}
                                    <div class="row mt--50 t-mt-00 pt--50 t-pt-00" style="border-top: 4px solid #{{ conference.primary }}">
                                        <div class="col-5 t-col-12 conference--box pt--50">
                                            <div class="heading heading--medium light" style="color:#{{ conference.primary }}">
                                                {{ page.firstname }}
                                                {{ page.lastname }}<br/>
                                                {{ conference.title }}
                                            </div>
                                            <div class="heading heading--small light" style="color:#{{ conference.primary }}">
                                                <span class="mt--20 block">
                                                    {{ talk.date | to_string }}<br/>
                                                    {{ talk.hours }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-7 t-col-12 pt--50" id="424update-elixir-core-dev-team">
                                            <h3 class="heading heading--normal">{{ talk.title }}</h3>
                                            <div class="desc">
                                                <p>
                                                    {{ talk.content }}
                                                </p>
                                            </div>
                                            <div class="hashtags mt--20">
                                                <ul></ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>