<main>
    <section class="banner vp--100 black-gradient--top black-gradient--bottom mh--100vh">
        <div class="container--small">
            <div class="mt--120">
                <div class="text-center">
                    <h1 class="heading heading--xxlarge">
                        THANK YOU
                    </h1>
                    <h2 class="heading heading--medium mt--50">
                        THANK YOU FOR SUBSCRIBING TO OUR NEWSLETTER.
                    </h2>
                </div>
            </div>
        </div>
    </section>
</main>