<div class=" video--container">
    <div class="baner--homepage"></div>
    <video id="homepage-video" muted playsinline preload="auto">
        <source src="{{ "/assets/video/banner-video.99f5c125.mp4" | prepend: site.baseurl }}" type="video/mp4">
    </video>
    <div class="video__box container--small">
        <div class="banner--absolute grid-gap-100">
            <div class="row">
                <div class="col-7 t-col-12 banner--text">
                    <div class="banner--logo">
                        <img alt="Code Sync Logo" src="{{ "/assets/img/conferences/code-sync-logo.48758d77.svg" | prepend: site.baseurl }}"/>
                    </div>
                    <div class="text">
                        <div class="heading heading--homepage">Share. Learn. Inspire.</div>
                        <p class="light mt--30">
                            WELCOME TO THE HOME OF THE CODE SYNC FAMILY OF CONFERENCES AND TRAINING
                        </p>
                    </div>
                </div>
                <div class="col-5 t-col-12 t-mt--00 banner--menu">
                    <ul>
                        {% assign active_conferences = site.conferences | where: 'past', false %}
                        {% for conference in active_conferences %}
                        <li>
                            <a class="paragraph big mono" href="{{ conference.url }}">
                                {{ conference.title }}
                            </a>
                            <br />
                            <span class="paragraph paragraph--tiny">
                                {{ conference.conference_dates }}
                            </span>
                        </li>
                        {% endfor %}
                        <li>
                            <a class="paragraph big mono" href="/conferences/">All Past Conferences</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('')">
    <div class="container--small">
        <div class="grid"></div>
    </div>
</section>