<div class=" video--container">
    <div class="baner--homepage"></div>
    <video id="homepage-video" muted playsinline preload="auto">
        <source src="/assets/video/banner-video.99f5c125.mp4" type="video/mp4">
    </video>
    <div class="video__box container--small">
        <div class="banner--absolute grid-gap-100">
            <div class="row">
                <div class="col-7 t-col-12 banner--text">
                    <div class="banner--logo">
                        <img alt="Code Sync Logo" src="/assets/img/conferences/code-sync-logo.48758d77.svg"/>
                    </div>
                    <div class="text">
                        <div class="heading heading--homepage">Share. Learn. Inspire.</div>
                        <p class="light mt--30">
                            WELCOME TO THE HOME OF THE CODE SYNC FAMILY OF CONFERENCES AND TRAINING
                        </p>
                    </div>
                </div>
                <div class="col-5 t-col-12 t-mt--00 banner--menu">
                    <ul>
                        <li>
                            <a class="paragraph big mono" href="http://codesync.global/conferences/code-beam-v/">Code
                                                                                                BEAM V
                            </a>
                            <br/>
                            <span class="paragraph paragraph--tiny">28-29
                                                                                                May 2020 - virtual event
                            </span>
                        </li>
                        <li>
                            <a class="paragraph big mono" href="https://virtual.elixirconf.eu">ElixirConf EU Virtual
                            </a>
                            <br/>
                            <span class="paragraph paragraph--tiny">18-19
                                                                                                June 2020 - Virtual
                            </span>
                        </li>
                        <li>
                            <a class="paragraph big mono" href="http://codesync.global/conferences/code-beam-sto/">Code
                                                                                                BEAM STO
                            </a>
                            <br/>
                            <span class="paragraph paragraph--tiny">10-11
                                                                                                September 2020 - Stockholm
                            </span>
                        </li>
                        <li>
                            <a class="paragraph big mono" href="http://www.elixirconf.eu/">ElixirConf EU
                            </a>
                            <br/>
                            <span class="paragraph paragraph--tiny">06-08
                                                                                                October 2020 - Warsaw
                            </span>
                        </li>
                        <li>
                            <a class="paragraph big mono" href="http://codesync.global/conferences/code-beam-lite-italy-2020/">Code BEAM Lite
                            </a>
                            <br/>
                            <span class="paragraph paragraph--tiny">30 October 2020 - Bologna
                            </span>
                        </li>
                        <li>
                            <a class="paragraph big mono" href="http://codesync.global/conferences/code-mesh-ldn/">Code
                                                                                                Mesh LDN
                            </a>
                            <br/>
                            <span class="paragraph paragraph--tiny">05-06
                                                                                                November 2020 - London
                            </span>
                        </li>
                        <li>
                            <a class="paragraph big mono" href="/conferences/">All Past Conferences</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="background-image volunteer section-container pb--100 m-pb-40 black-gradient--top lazy" data-bg="url('')">
    <div class="container--small">
        <div class="grid"></div>
    </div>
</section>