<section class="anchor__submenu welcome section-container section--spaced" id="welcome">
    <div class="container--small">
        <div class="grid-gap-100">
            <h1 class="heading heading--large">WELCOME TO CODE SYNC CONFERENCES</h1>
            <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00 welcome__content">
                <div class="col-4 t-col-12 t-mt-80 m-mt-40">
                    <h3>WHAT IS CODE SYNC?</h3>

                    <p>
                        <strong>Code Sync is a family of tech conferences.</strong>
                        A&nbsp;brand that consolidates all
                                                                        the conferences that we&rsquo;ve been organizing since 2008 retaining their individual
                                                                        personalities and focuses as:</p>

                    <ul>
                        <li>
                            <strong>
                                <a href="https://codesync.global/conferences/code-beam-sf/">Code
                                                                                                            BEAM</a>
                            </strong><br/>
                            Discovering the Future of the Erlang Ecosystem</li>
                        <li>
                            <a href="https://codesync.global/conferences/code-beam-lite-amsterdam/">
                                <strong>Code BEAM
                                                                                                            Lite</strong>
                            </a><br/>
                            Satellite events of Code BEAM</li>
                        <li>
                            <a href="https://codesync.global/conferences/code-elixir-ldn-2019/">
                                <strong>Code Elixir
                                                                                                            LDN</strong>
                            </a><br/>
                            Connecting the Elixir Community</li>
                        <li>
                            <a href="https://codesync.global/conferences/code-mesh-ldn/">
                                <strong>Code Mesh
                                                                                                            LDN</strong>
                            </a><br/>
                            Exploring Alternative Tech</li>
                    </ul>
                </div>
                <div class="col-4 t-col-6 m-col-12 t-mt-80 m-mt-40">
                    <h3>OUR COMMITMENT</h3>

                    <p>The creation of the Code Sync family of tech conferences is part of the commitment we have made
                                                                        to open our conferences to a wider audience and to spread the culture of&nbsp;<u>Share. Learn.
                                                                            Inspire.</u>
                        globally. And our long-run goal to enhance the value and overall experience
                                                                        when attending any of the conferences belonging to the Code Sync family.</p>
                </div>
                <div class="col-4 t-col-6 m-col-12 t-mt-80 m-mb-00 m-mt-40">
                    <h3>WHY ATTEND?</h3>

                    <p>Apart from great speakers, inspiring talks, battle stories and plenty of coffee, our conferences
                                                                        bring developers together as a community, to learn; share knowledge and ideas; and to inspire
                                                                        one another. See below which conference is next and don&rsquo;t just take our word for
                                                                        it,&nbsp;check it for yourself!</p>
                </div>
            </div>
        </div>
    </div>
</section>