---
layout: default
title: All media
description: All media
keywords: Code Sync, conferences, training, Code BEAM SF, Code BEAM STO, Code Mesh LDN, Code BEAM Lite, Code Elixir LDN, Erlang, Elixir, alternative tech, BEAM, Joe Armstrong, Francesco Cesarini
twitter_site: CodeBEAMio
twitter_image: http://codesync.global/assets/img/social-image.jpg
og_image: http://codesync.global/assets/img/social-image.jpg
head_title: ALL MEDIA
---

{% include header.html %}
<main>
    {% include head_title.html %}
    {% include media_navbar.html %}
    {% include featured_articles.html %}
    {% include all_media.html %}
</main>
{% include footer.html %}