<script type="application/ld+json">

[36mLine: 1[0m
[31m{[0m
[31m    "@context": "http://schema.org",[0m
[31m    "@type": "WebSite",[0m
[31m    "url": "http://codesync.global/",[0m
[31m    "name": "Code Sync",[0m
[31m    "description": "WELCOME TO THE HOME OF THE CODE SYNC FAMILY OF CONFERENCES AND TRAINING",[0m
[31m    "potentialAction": {[0m

[36mLine: 14[0m
[32m(empty line)[0m
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WGN5WRJ" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->