<head>
    <meta name="theme-color" content="#ff005f" />
    <title>{{ page.title }}</title>
    <meta name="keywords"
        content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ page.twitter_site }}" />
    <meta name="twitter:image"
        content="{{ page.twitter_image }}" />
    <meta property="og:site_name" content="Code Sync" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:title" content="Code Sync" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:image"
        content="{{ page.og_image }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-Ua-Compatible" content="IE=IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta property="og:ttl" content="777600">
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/global.73570f4b.css" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="/assets/img/favicon.93e85b1c.png" />
    <link rel="canonical" href="http://codesync.global/" />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="0ADqSE0jcVWTzdaYNiMgTNIuSUUz9by-7zw49rRHOEY" />
    <script src="https://www.recaptcha.net/recaptcha/api.js" async="async" defer="defer"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGN5WRJ');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-69493616-5"></script>
    <script>
        if (document.cookie.cookie_status == "deny") {
            window['ga-disable-UA-69493616-5'] = true;
        } else {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-69493616-5');
        }
    </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

</head>