    {% for conference in site.conferences %}
    {% if conference.path == page.conference_path %}
        {% capture conferencePrimary %}{{ conference.primary }}{% endcapture %}
        {% capture conferencePrimary %}{{ conference.primary }}{% endcapture %}
    {% endif %}
    {% endfor %}

<style>
        .speaker-img::before {
            background-image: -webkit-gradient(linear, left top, right top, from({{conferencePrimary}}, to({{conferenceSecondary}})) !important;
            background-image: -webkit-linear-gradient(left, {{conferencePrimary}}, {{conferenceSecondary}}) !important;
            background-image: -o-linear-gradient(left, {{conferencePrimary}}, {{conferenceSecondary}}) !important;
            background-image: linear-gradient(to right, {{conferencePrimary}}, {{conferenceSecondary}}) !important;
        }
</style>