<!DOCTYPE html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns="http://www.w3.org/1999/xhtml">
    {% include imports/conferences_head.html %}
    <body>
        {% include imports/google_tag_manager.html %}
        {% include imports/side_social_sidebar.html %}
        {% include imports/speaker_styles.html %}
        {% include header.html %}
        <!-- Conference includes -->
        {% include conference_menu.html %}
        <main class="conference">
            {% include conference_head_section.html %}
            {% include conference_overview.html %}
            {% include conference_overview_details.html %}
            {% include conference_themes.html %}
            {% include conference_tickets.html %}
            {% include conference_group_tickets.html %}
            {% include conference_academic_tickets.html %}
            {% include conference_testimonials.html %}
            {% include conference_keynotes.html %}
            {% include conference_speakers.html %}
            {% include conference_trainings.html %}
            {% if page.conference_health_advice == true %}
                {% include conference_health_advice.html %}
            {% endif %}
            {% if page.conference_venue == true  %}
                {% include conference_venue.html %}
            {% endif %}
            {% include conference_newsletter.html %}
            {% include conference_diversity.html %}
            {% include conference_volunteer.html %}
            {% include conference_past_talks.html %}
            {% include conference_call_for_talks.html %}
            {% include conference_sponsors.html %}
            {% if page.conference_past_conferences == true %}
                {% include conference_past_conferences.html %}            
            {% endif %}
        </main>
        {% include footer.html %}
        <!-- Bottom Imports -->
        {% include imports/js.html %}
    </body>
</html>